[2014-05-05 18:44] jcelaya opened #1 "Saturation levels are not accurate."
HDRMerge depends on saturation levels to select the pixels of each image. But the value coming from LibRaw does not seem to be always accurate. So far, I have tested Nikon images that work well, and Canon images that saturate much lower than expected.

[2014-05-05 20:53] jcelaya opened #2 "There are purple borders in edges between images"
And sometimes green too.

[2014-05-06 08:39] jcelaya opened #3 "The JPEG preview is not correctly created sometimes"
It happens with the Canon test images. Each row seems to lack some pixels.

[2014-05-06 08:40] jcelaya opened #4 "The small preview is not an EXIF thumbnail"

[2014-05-06 22:23] Beep6581 opened #5 "Fail on missing aperture"
I was stumped why the generated DNG image looks fine for some of my shots, and for others it was noisy with magenta colors where clipping in the darkest image of the bracket series occurred. Running it from a terminal I saw that for these images, exposure was reported as infinite. The problem is that most of my images are shot using a manual lens - partial Exif! ISO is there, exposure time is ther

[2014-05-06 23:23] Beep6581 opened #6 "Hard transitions"
I'm really hoping that the issues I see are fixable, because there is enormous potential here!

So far on all shots I tried - Pentax K10D with manual or automatic lenses - I see very hard transitions where different source images were used.
http://i.imgur.com/QSkBBxd.jpg
http://i.imgur.com/xEIca0P.jpg

The colors in that house were very difficult as there was a sunlight with yellow glass camera-le

[2014-05-06 23:28] Beep6581 opened #7 ""Remember" option for DNG bit depth"
I'm asked every time for the desired bit depth of the saved DNG. Would be nice if there was a "Don't ask again" checkbox.

Speaking of which, is there a rule of thumb which option to use? Could the program choose the best one based on the dynamic range, or show in a toolbar what the dynamic range is?

[2014-05-07 00:03] #5 closed, assigned to nobody

[2014-05-07 10:12] jcelaya opened #8 "The preview should be tone-mapped"
The preview image is too dark, specially when using more than three exposures. It should be tone-mapped in some way to allow an easier editing. Maybe just pulling up shadows would be enough.

[2014-05-07 10:45] #1 closed, assigned to jcelaya

[2014-05-07 13:54] Beep6581 opened #9 "Feature request for automatic ghost removal"
Feature request for automatic ghost removal of small things difficult to do manually like leaves and ripples on water.

[2014-05-08 22:37] #2 closed, assigned to jcelaya

[2014-05-08 23:08] #3 closed, assigned to jcelaya

[2014-05-08 23:23] #4 closed, assigned to jcelaya

[2014-05-09 11:42] Beep6581 opened #10 "Misalignment of well-aligned images"
I've been using HDRMerge a lot over the last three days since your patch for RawTherapee, and it's amazingly good!
I encountered a strange set of images just now. Please take a look at these five images - the generated DNG has seriousl misalignment, while the raw images are perfectly aligned. This is clearly visible in two places: the hats on the rack in the bottom-right corner - there should be t

[2014-05-11 14:51] Beep6581 opened #11 "EXIF:PreviewApplicationVersion broken"
EXIF:PreviewApplicationVersion=HDRMerge vHDRMERGE_VERSION_MAJOR.HDRMERGE_VERSION_MINOR

[2014-05-11 15:03] #11 closed, assigned to nobody

[2014-05-11 15:27] Beep6581 opened #12 "DNGs not the same size as the source image"
I ran into the problem yesterday where my flat-field image (which I use to remove dust, vignetting and color casts) failed to apply to the DNG of the ceiling. I investigated today and found that the size of the DNG differs from the size of the input PEFs and the flat-field failed to have an effect because of that (ergo https://code.google.com/p/rawtherapee/issues/detail?id=2377 ). This must be a n

[2014-05-17 20:07] #10 closed, assigned to nobody

[2014-05-18 20:32] #12 closed, assigned to jcelaya

[2014-05-18 20:33] jcelaya opened #13 "A batch mode detects groups of bracketed input images and generates an output for each group"

[2014-05-18 20:34] jcelaya opened #14 "Do not copy the preview included in the makernote of some formats"

[2014-05-18 20:35] jcelaya opened #15 "Apply a flat-field image to the inputs before merging"

[2014-05-18 20:36] jcelaya opened #16 "Load a previously saved mask"

[2014-05-19 08:08] Beep6581 opened #17 "typos"
Just wanted to point two things out:
- RawTherapee is with a capital "T"
- the convention is to write "x-bit" or "x/y/z-bit", so e.g. "16-bit" or "16/24/32-bit", but CLI prints "16bits" so maybe this could be tweaked too, you know, for the professional look ;]

[2014-05-19 08:15] Beep6581 opened #18 "Brush radius change to slider"
The brush radius spinbox is not very useful to me because I usually use large radii - 50px, sometimes even 200px, so I have to enter the sizes using the keyboard. Replacing it with a slider with a 1-200 range would allow quickly using the mouse to change brush size.

[2014-05-19 08:22] Beep6581 opened #19 "Brush outline color"
The brush outline is hard to see in dark areas.

![hdrmerge1](https://cloud.githubusercontent.com/assets/5844619/3011664/4f3c1300-df2e-11e3-9b4b-2c90ca26b1d3.jpg)

One solution would be to make it dashed or dotted black-and-white_, another to have a circle with a 1px-wide white_ outline inside a circle with a 1px-wide black\* outline, and a third to give the circle some color.

*actually I don't m

[2014-05-19 08:42] Beep6581 opened #20 "Color mask colors and their correspondence to images"
Working with the ghost mask with many source images gets quite confusing as there is no reference to show us which color pertains to which image.

I think it would be a big help if the source image buttons at the bottom had a square next to them which would be the same color as the mask. In this case, it would also be good to include the darkest image as number [0].

I'm thinking of something like

[2014-05-19 19:42] #17 closed, assigned to nobody

[2014-05-19 22:35] #19 closed, assigned to nobody

[2014-05-20 14:03] #20 closed, assigned to nobody

[2014-05-20 19:10] jcelaya opened #21 "Add other brush shapes"
Square at least.

[2014-05-20 20:47] #18 closed, assigned to nobody

[2014-05-22 22:22] #8 closed, assigned to jcelaya

[2014-05-24 20:45] #7 closed, assigned to nobody

[2014-05-27 07:49] Beep6581 opened #22 "Remember saved-to dir"
Currently the program always opens the source-image dir when saving. Would be nice if it remembered the last-used destination dir the next time I hit ctrl+s.

[2014-05-27 07:53] Beep6581 opened #23 "Show whether image was cropped and/or aligned in GUI"
Would be nice when having "auto-crop" and "auto-align" enabled if the program showed somewhere whether any alignment or cropping actually took place. It is printed in the console if one starts it from a console, but would be nice if it was shown in the status bar too.

[2014-05-28 13:47] ogniw opened #24 "Preview is corrupted when Preview Size is set to full"
I gave the new windows version a try (Thanks a lot for this work, Javier) and made a hdr-dng from three D700 raw files. When the preview size is set to 'Full', which is the default setting in gui, the thumbnail of the resulting dng is corrupted (at least in RawTherapee)
If you need the D700 raw files and the resulting dng, let me know.

Ingo

[2014-05-28 18:10] #24 closed, assigned to nobody

[2014-05-30 21:41] Beep6581 opened #25 "Ask for cropping and alignment when passing files as arguments"
If you open HDRMerge GUI and then ctrl+o to open some files, it asks whether it should align and crop. However if I start HDRMerge GUI by passing some files as arguments, it auto-aligns (and auto-crops?) without asking me whether I want to. It should :)

[2014-05-30 22:04] Beep6581 opened #26 "Full-sized JPEG preview pixelated"
Comparing two DNGs, one saved with a half-sized preview and one with a full-sized one, the full-sized preview shows pixelation, as if it's actually the half-sized preview scaled up to the size of a full one.
http://i.imgur.com/HiumeqL.jpg

[2014-05-30 22:09] Beep6581 opened #27 "Most programs cannot read embedded JPEG preview"
I was going to file requests with the programs I use to support viewing the embedded JPEG preview in HDRMerge DNG files, but the problem may actually lie in HDRMerge instead. Regardless of what preview size I choose, gwenview fails at showing it and exiftool cannot extract it (exiftool -b -JpgFromRaw hdr_1_2014-03-29_gallabjer_013_half.dng > half.jpg results in a 0 byte file). Geeqie does show it,

[2014-05-31 09:23] #22 closed, assigned to nobody

[2014-05-31 09:25] #25 closed, assigned to nobody

[2014-05-31 12:12] #14 closed, assigned to jcelaya

[2014-05-31 16:58] WelschM opened #28 "Segmentation Fault on opening ARW-Files"
hdrmerge is crashing on opening ARW-files (Sony) on my Linuxbox (Debian). Error-Message is "Segmentation fault" (Speicherzugriffsfehler in my language).

It works with the example files.

[2014-06-01 07:05] #28 closed, assigned to nobody

[2014-06-03 18:38] #26 closed, assigned to nobody

[2014-06-04 14:52] Beep6581 opened #29 "Brush outline not reset after changing brush size"
If you change the brush size, the brush outline remains as it was even though the effective area has changed, so you can't see what you're painting/erasing. The outline is fixed by clicking the paint/erase icon again after changing the size.

[2014-06-04 14:53] Beep6581 opened #30 "Brush reset after alt+tab"
I often alt+tab to view the source images in some image viewer when painting the mask, but after every alt+tab the active tool is reverted to the "pan" tool.

[2014-06-04 14:54] Beep6581 opened #31 "Shortcut to change brush size with mouse"
Would be nice if we could change the brush size using the mouse scrollwheel, so e.g. Shift+scrollup to increase, Shift+scrolldown to decrease.

[2014-06-05 13:40] #31 closed, assigned to nobody

[2014-06-05 13:41] #30 closed, assigned to nobody

[2014-06-05 13:41] #29 closed, assigned to nobody

[2014-06-08 23:44] photoken opened #32 "Magenta colour cast, etc., on RW2 images from Panasonic DMC-LF1"
Win7 x64 SP1
HDRMerge 0.4.4 x64

Merging three RW2 images from the LF1 gives a magenta colour cast to the HDR DNG image (16-bit, and 24-bit, and 32-bit), as well as an inaccurate black level.

This worked fine with HDRMerge 0.4.3

[2014-06-09 19:47] #32 closed, assigned to nobody

[2014-06-13 08:13] Liguria360 opened #33 "Batch processing for image series in GUI ?"
Would it be possible to add batch processing for images series like in EnfuseGUI ?
My workflow: Creating the dng and import it in Lightroom for post processing to create 16bit tiff for 360° panorama stitching.

[2014-06-13 08:51] #33 closed, assigned to nobody

[2014-06-17 07:55] jcelaya opened #34 "High ISO noise produces even more noise in the output"
I have been pointed out that, when merging images with high ISO noise, the output seems to contain even more (chroma, mostly) noise in the highlights. One of the reasons for this could be that the merge mask is not being correctly calculated.

[2014-06-18 16:33] drdirk opened #35 "RawTherapee crashes opening DNG created by hdrmerge (Linux)"
I am not able to open the merged file in RT. I see the small preview in the RT file manager, but when opening then the file in the RT editor RT crashes. Compiled both on Fedora 20 x86_64 (RT 4.1.8 and 4.1.22; hdrmerge 0.4.4), also RT 4.1.0 in Fedora repo does not work. Error message in the shell is "memory access error (core image written)". I tried compilation with  LibRaw 0.15.4 (Fedora 20), but

[2014-06-18 20:05] #35 closed, assigned to nobody

[2014-06-20 14:42] drdirk opened #36 "Some metadata not preserved"
Many metadata are preserved by hdrmerge (even also GPS data, if provided (good!)), but some are _not_:
- personal data: Author/Artist and Copyright (set before in the camera)
- all the MakerNotes (by the camera maker, like model of the lens etc.)

The mentioned data are contained in all DNG files, but not in the merged one. It would be very convenient, if also these data could be preserved. (In pa

[2014-06-21 20:38] #36 closed, assigned to nobody

[2014-06-25 05:33] Beep6581 opened #37 "Constant exposure"
When I shoot 360° panoramas I do so on manual mode with bracketing, e.g. a bracketed set of 5 images every 60°, so 6x5 . The files produced by HDRMerge however differ in their average exposure - some need a +1EV boost in RawTherapee, others need even +4EV. Would it be possible to lock a constant exposure so that a common point visible in several or all of the resulting HDR DNG images, such as a fl

[2014-07-03 13:35] Beep6581 opened #38 "Focus stacking with HDRMerge"
I've been playing around with focus stacking through HDRMerge. The benefit is you end up with a single, perfect raw file, where everything is in focus and the whole dynamic range is stored.
http://i.imgur.com/8Q38UhQ.jpg

I'm fully aware that this would be a monumental job to code, but here are some ideas in case you're thinking about it :) (maybe its possible to borrow code that already does this

[2014-07-03 13:38] Beep6581 opened #39 "Remember input options in GUI"
The same as my request for remembering output options, I'd like to request a way for HDRMerge to remember the input options, e.g. auto-align but never crop. These two checkboxes should still be visible on every new merge, but their state should be remembered.
http://i.imgur.com/qosXfd7.png

[2014-07-03 19:45] #39 closed, assigned to nobody

[2014-07-06 21:55] jcelaya opened #40 "Provide a way to manually specify the image alignment"

[2014-07-07 11:11] Beep6581 opened #41 "Error loading <file>, it has a different format."
Hi!

I've never encountered (or noticed) this error before - I cannot merge these five bracketed photos, HDRMerge-develop fails with:
/home/drslony/programs/hdrmerge-develop/hdrmerge -o "hdr_7_2014-07-07_field_31.dng" -b 16 --no-crop -p half "2014-07-07_field_31.pef 2014-07-07_field_32.pef 2014-07-07_field_33.pef 2014-07-07_field_34.pef 2014-07-07_field_35.pef"
Error loading 2014-07-07_field_31.pe

[2014-07-07 17:35] jcelaya opened #42 "Show the preview in another window"
To have a glance of the result (mainly, to check if ghosts are corrected), it would be very useful to show the preview in a separate window or tab.

[2014-07-07 17:58] #41 closed, assigned to nobody

[2014-07-07 17:59] #23 closed, assigned to nobody

[2014-07-09 13:03] #34 closed, assigned to jcelaya

[2014-07-09 13:24] Beep6581 opened #43 "Segfault when erasing mask out of the window"
Steps to reproduce:
1- Open the source images
2- Maximize the window, scroll right to the bottom
3- Ctrl+mouse-drag to erase the layer, and make sure you keep the buttons pressed while dragging the brush right off the window's bottom edge. Segfault.

Today's commit a73aac740a03ff7c7ad57d8491b9da4b555b1a49

Program received signal SIGSEGV, Segmentation fault.
0x000000000047aa47 in hdrmerge::ImageSt

[2014-07-09 13:47] #43 closed, assigned to nobody

[2014-07-09 22:46] photoken opened #44 "Magenta colour cast, incorrect black values"
This is a repeat of the problem with the original version 0.4.4:
https://github.com/jcelaya/hdrmerge/issues/32

PhotoLine opens DNG images produced by the revised HDRMerge 0.4.4 just fine, but images produced by HDRMerge 0.4.5 open with a magenta colour cast and incorrect black points.

[2014-07-10 22:05] #44 closed, assigned to nobody

[2014-07-22 18:14] jannefoo opened #45 "File should be saved in the same folder as the first source file by default"
Now Hdrmerge always offers its installation directory first and the destination folder for the HDR DNG needs to be browsed manually. I propose that the destination folder should be the folder of the first image.

http://i.imgur.com/yICNqI4.png

[2014-07-22 18:19] jannefoo opened #46 "Extra numbers are amended to the file name"
When saving image with the GUI, there are always extra numbers (4 to 5) after the file name, for example xxxx.dng3653 or so.

[2014-08-03 22:28] Beep6581 opened #47 "Allow painting through mask on chosen layer"
I would like to suggest that if one has more than two layers, e.g. [1] [2] [3], and one would like to uncover 3, it should be enough to click on [3] and click the paint tool without having to first remove [1] and [2] from that area.
Likewise, if I would like to paint 1 over an area which is 3, it should be enough to just click [1] and paint without having to first paint [2].

This issue is particu

[2014-08-13 09:07] #45 closed, assigned to nobody

[2014-08-26 17:35] #27 closed, assigned to nobody

[2014-10-12 19:54] Beep6581 opened #48 "Obtain a .exr or .hdr file"
Hello

Is it possible to _easily_ obtain a HDR file in the OpenEXR or Radiance RGBE format from a HDR DNG?

The only way I know of to do this would be to save bracketed 16-bit TIFFs from RawTherapee and create the file from them, but that's not an optimal solution as it requires changing exposure in RT and that is not reflected in the metadata, so software like Luminance HDR which rely on metadata

[2014-10-19 06:39] assaft opened #49 "Copy embedded lens profiles"
Micro four thirds cameras embed a lens profile in their RAW files (ORF/RW2). When OEM converters / ACR open such a file, they correct the lens aberrations based on the information stored in the included profile.

I noticed that Lightroom doesn't correct the distortion of DNG files created by hdrmerge (from several ORF files). It could be because hdrmerge doesn't include the lens profile when mergi

[2014-10-24 19:43] #49 closed, assigned to nobody

[2014-10-26 22:34] Beep6581 opened #50 "Segfault when loading these PEFs"
The master branch loads these PEFs correctly, but today's develop branch segfaults.

http://filebin.net/9n63i65fsv
~/programs/hdrmerge-develop-debug/hdrmerge -b 16 --no-align --no-crop -p half 2014-06-18_glencoe_171.pef 2014-06-18_glencoe_172.pef 2014-06-18_glencoe_173.pef 2014-06-18_glencoe_174.pef 2014-06-18_glencoe_175.pef

terminate called after throwing an instance of 'QtConcurrent::Unhandled

[2014-11-02 09:04] curio77 opened #51 "Compatibility of created DNGs"
Hello,

I'm achieving very good results using HDRmerge in general — thanks for your efforts!

However, PS CC appears to be the only application able to open the DNGs created by it, all others I've trailed fail with inconclusive error message, specifically: DxO Optics Pro 9/10 and PhaseOne Capture One Pro 8, regardless of the settings using which I save the DNG in HDRmerge.  In case this may matter

[2014-11-02 18:14] #51 closed, assigned to nobody

[2014-11-03 20:35] Beep6581 opened #52 "DNG turns out black"
Hi, I encountered another set of images that lead to a black DNG using today's git:
http://filebin.net/d3es9h8z5t (uploading, done in 10 minutes)

[2014-11-05 23:47] Beep6581 opened #53 "Option to not convert single images in batch mode"
HDRMerge converts not only bracketed sets but also single images to DNG when I invoke it in --batch mode. I have no need for such single images, so it would be a time-saver for me if the default behaviour was to skip single images. Perhaps a new --single option could enable conversion of single shots.

[2014-11-05 23:56] Beep6581 opened #54 "Regenerate old HDR DNG"
I have some photos made using older versions of HDRMerge which have issues due to bugs in those old versions (bugs which have now been fixed). For example RawTherapee-4.2 shows a black thumbnail for this image:
http://filebin.net/uu9ekk00hf

I tried to run HDRMerge in batch mode over these old photos but it fails with this error:
Error loading hdr_1_01_01_16.dng, file not found.
Opening the image

[2014-11-10 19:52] curio77 opened #55 "Errors with paths containing non-ASCII characters"
Attempting to load images from a directory whose path contains non-ASCII characters (just supposing -- in my case, an "ü" umlaut was the culprit) results in an error (which misquotes the path with evidence of an encoding issue).  Observed in Windows 8.1 (x64).

[2014-11-28 19:49] #55 closed, assigned to nobody

[2014-11-28 20:53] #50 closed, assigned to nobody

[2014-11-28 20:57] #54 closed, assigned to nobody

[2014-11-29 00:31] phries opened #56 "OS X build steps"
Here's what I've found for running HDRMerge on Mac OS X 10.10 (Yosemite). Not totally successful yet but I got it built and running.
### Build

Uses [brew package manager](http://brew.sh/). I had a few brews already installed that might have been required too.
- brew install libraw
- brew install cmake
- brew install qt4
- brew install boost
- Download and build the tarball of [exiv2](http://www.e

[2014-12-15 20:36] phries opened #58 "Output file has wrong STRIPOFFSETS value, image garbled; also: interpolation code is partly inoperative"
![Corrupted image due to this bug](http://i.imgur.com/MwNjLoY.png)

The top image is the output of hdrmerge before fixing this bug.
### Bug

The image is garbled. Or rather, some part of it must be garbled, because RawTherapee can still produce a correct JPG from the file.

To reproduce the bug, use hdrmerge on Mac OS X to create a single HDR DMG image. Note: the bug may not be limited to Mac OS X

[2014-12-27 14:42] jannefoo opened #60 "Additional blending modes: median, mean, peak hold, etc."
When a bunch of images are supplied to the program with the same exposure (so no HDR going on), there could be option to average the pixel values across the stack. This would be handy for reducing noise and creating virtual long exposures from shorter ones.

Another cool application could be peak hold stacking mode (or maximum value stack), where the brightest pixels across the stack are selected

[2014-12-28 20:18] #53 closed, assigned to nobody

[2014-12-28 23:47] #58 closed, assigned to nobody

[2014-12-31 19:09] #48 closed, assigned to nobody

[2015-01-04 20:48] jcelaya commented on #56
Thank you for your effort, Phries :)
I managed to build hdrmerge without problem, with latest XCode and brew. I will test it and try to build an installation package to include it with the next stable release. I may also switch Alglib with GSL, which is included in brew.

[2015-01-11 12:19] Beep6581 commented on #52
Unfortunately I do not have these images I uploaded anymore, but if I encounter the problem again I will let you know.

[2015-01-12 09:29] assaft opened #61 "Alignment issue (?)"
I'm getting some weird artifacts when I'm merging the attached 5 handheld exposures (1ev apart).
I haven't encountered such issues (with handheld bracketing) so far so I'm a bit surprised to see these artifacts. Maybe it has to do with the fact that the pictures were taken using a fisheye lens or maybe something else is going on? I don't know if this is a bug or just an unavoidable result when the

[2015-01-17 19:43] jcelaya commented on #61
The alignment algorithm of HDRMerge is a bit limited, because it can only fix small horizontal/vertical translations. It must be this way, since we are working in RAW space. More complex alignments, like rotations or perspective corrections, must be done after the interpolation. In this case, the fisheye lense may be killing the alignment algorithm due to its deep perspective deformation. It doesn

[2015-01-17 19:44] #61 closed

[2015-01-27 23:06] assaft commented on #61
PhotoAcute, which also works in RAW, has managed to align this set without such artifacts:
https://dl.dropboxusercontent.com/u/21642925/Alignment2.ZIP
It claims to use a radiometric alignment algorithm.
http://www.photoacute.com/tech/precise-radiometric-alignment.html
So apparently more sophisticated alignment algorithms are possible in RAW space.

I'm not sure why HDRMerge didn't manage to align

[2015-02-10 18:54] jcelaya commented on #61
Hello, sorry for the late answer.

Well, if PhotoAcute provides a correct output, then I cannot rule option 2
out. I would say it is not a bug, just that the algorithm I am using is not
precise enough. I'll have a look at it (the day I find some spare time...)

Thanks for your feedback

Javi

2015-01-28 0:06 GMT+01:00 Assaf Toledo <notifications@github.com>:

[2015-02-14 15:32] assaft commented on #49
I verified that it works in 0.5. Thanks.

[2015-03-03 02:52] t-o-d-d commented on #52
DrSlony asked that I share some images which reproduce this issue, so here they are... I found that removing either of the dark exposures would then cause an image to appear, but with all five loaded, blank. http://1drv.ms/1GK7fjH

[2015-03-12 18:12] Beep6581 commented on #6
Hey again!

I still run into this once in a while, but I learned to work around it, by removing the darkest images.

Today I ran into this issue again in a merge of three images. However in this case, the darkest image contains data in the highlights which is clipped in the middle image, so I need to use all three, yet I also get this hard transition in the top-left corner.
You can get the images

[2015-03-15 06:59] photoken opened #62 "Allow specifying external editor for post-processing"
I'd like a configuration option to specify an external editor for processing the merged image.  In other words, after saving the merged HDR DNG image PhotoLine (for example) would automatically be launched with the image.

[2015-03-20 17:52] jcelaya commented on #52
OK, It looks like I finally fixed this. It's in the develop branch, as usual, can you check it? Thanks everyone.

[2015-03-20 18:11] jcelaya commented on #6
I think this problem is similar to ghosting, but with light. Look at the upper left corner, for instance. Its brightness is similar to the rest of the ceiling in the middle image, but in the bright one all the ceiling is blown out but that corner. I'm still not sure how to fix this, though...

[2015-03-24 14:41] Beep6581 opened #63 "Do HDR DNGs contain a thumbnail?"
Hey

This issue is specifically about thumbnails (small), not embedded previews (large, medium, or none).

I tested now using the latest git version of HDRMerge. I saved a DNG using a medium-resolution preview.

  exiftool -b -ThumbnailImage hdrmerge.dng > foo.jpg
  exiv2 -et hdrmerge.dng

Both commands fail to get a thumbnail image. Exiftool-9.90 produces a 0-byte file, and exiv2-0.24-r1 prints "

[2015-03-24 18:57] jcelaya commented on #63
Nope, no thumbnail.

[2015-03-26 21:04] Beep6581 opened #64 "Manually unmasking the brighter image leads to strong color artifacts"
When I manually unmask an area where I want a darker image to be used, the result is correct. But when I manually unmask an area for the lighter image to show through, that area becomes cyan or some other very wrong color, instead of being clipped white. In other words, the white level is wrong, because it turns out grayish instead of being clipped white.

Original mask automatically made: http://

[2015-03-28 09:42] jcelaya commented on #52
Forget that last commit, it is still wrong...

[2015-03-28 19:17] t-o-d-d commented on #52
I wanted to check the last one for you but don't know how to compile it
or whatever needs to happen to update my install (on windows)...
Todd

On 3/28/2015 2:42 AM, jcelaya wrote:

---
This email has been checked for viruses by Avast antivirus software.
http://www.avast.com

[2015-03-29 11:16] Beep6581 commented on #52
Javier I see all your comments and I'm grateful for your work, the only reason I haven't responded is because I currently don't have any source photos which exhibited this problem so I could test, and the links above have expired. I tend to convert my bracketed raws to HDR DNG and then delete the source images to save a lot of disk space.

[2015-03-29 19:32] jcelaya commented on #52
Thanks for your comments. I just pushed some new commits to the develop branch that should fix the problem with the black images and improve the color tints in the blown out areas.

Todd, I can confirm that your last pictures do not produce a black DNG anymore. I will submit a 0.5.1 version when I get some more feedback. Thanks again for all your comments.

[2015-03-29 19:53] jcelaya commented on #64
Yes... Well, this should not be a bug, it's just how it works. To simplify it, we can say that for every pixel in the set of images, HDRMerge takes the most exposed one that is not saturated. If you unmask a darker image, those pixels are less exposed. They basically contain the same information, but with more noise. However, if you unmask a lighter image, those pixels will be saturated. They do n

[2015-06-17 20:17] porst17 commented on #60
I was searching for a program having exactly these features and finally arrived here. Not 100% what I wanted, but pretty close! hdrmerge does almost everything we would need for this task and this new feature is also relatively easy to code. Here are some applications:
 * averaging: noise reduction by combining several long or high ISO exposures
 * lighten (aka take the brightest pixels in the ima

[2015-07-30 20:18] assaft opened #65 "non-smooth transition and unbalanced brightness"
I'm trying to merge two DNG files and I see two problems in the merged file:
1. The transition between the exposures is not smooth.
2. There's some exceptionally bright area in the middle.

The two exposures were taken 2 seconds apart and they are 1 EV apart. Maybe there was a slight change in the light level, but I can't tell. It's clear from the merged file that the darker file comes out (i.e. b

[2015-08-13 07:15] Beep6581 commented on #65
Probably a duplicate of issue 6.

[2015-09-01 23:57] heckflosse opened #67 "Optimizing hdrmerge speed"
Hi Javier,
I use hdrmerge sometimes and though it's quite fast I think it could be even faster with some optimizations to current code. Am I welcome to suggest some optimizations during next weeks (you know, I optimize all and everything in RawTherapee, I guess)?
I would post my suggestions as pull requests. Would that be ok for you?

Ingo

[2015-09-02 10:32] jcelaya commented on #67
Hello Ingo
I haven't been involved with hdrmerge for quite some time, mainly because I
need to dedicate my time to other things. But you are more than welcome to
send any pull request and I will review it ASAP.

Thanks for your interest.

Javi

2015-09-02 1:57 GMT+02:00 heckflosse <notifications@github.com>:

[2015-09-04 20:01] heckflosse commented on #67
Hi Javier,

I suggest a first optimization without making a pull request.

https://github.com/jcelaya/hdrmerge/blob/master/BoxBlur.cpp#L74

replace
schedule(dynamic)
with
schedule(dynamic,16)
or remove the schedule statement to get (default) static scheduling for this loop.

Explanation: schedule(dynamic) is the same as using schedule(dynamic,1). This is almost the worst case for parallelizing out

[2015-09-06 21:40] heckflosse commented on #67
Created https://github.com/jcelaya/hdrmerge/pull/68

[2015-09-06 22:42] heckflosse commented on #67
Additional to the speedups in https://github.com/jcelaya/hdrmerge/pull/68 further speedups should be possible:

1.) IIRC the gaussian blur used in RT is faster than the emulation (three step boxblur) in hdrmerge (by about factor 2). I could try to use the RT ode instead.
2.) The full size generation of preview (even for half size) could be outperformed by using RT's fast demosaic algorithm (also b

[2015-09-06 23:33] heckflosse commented on #67
There's also an omp speedup possible for Image::computeResponseFunction
Tough only a small seedup...

[2015-09-11 02:23] flord opened #69 "Support OpenExr as output image format"
It would be very useful to have OpenExr as an output image format option. This format supports 16 and 32 bit floating point and many softwares support it.

[2015-09-17 21:23] heckflosse commented on #67
Just for information:

Heres's an overview about my speedups: http://pastebin.com/ag3EhJvv

Ingo

[2015-09-21 14:02] heckflosse commented on #65
Merges fine with this fix: https://github.com/heckflosse/hdrmerge/commit/49cbeae8678ba170de14bbb6c35700dcb89a2799

[2015-09-21 18:36] heckflosse opened #71 "Artifacts in highlights"
When merging this files
http://www.rawtherapee.com/shared/test_images/blue_sky_tree_drslony_bkt1.pef
http://www.rawtherapee.com/shared/test_images/blue_sky_tree_drslony_bkt2.pef
http://www.rawtherapee.com/shared/test_images/blue_sky_tree_drslony_bkt3.pef
hdrmerge generates some bright artifacts.
http://filebin.net/9qwv2ybk1c/artifacts.png
This https://github.com/heckflosse/hdrmerge/commit/49cbeae8

[2015-09-21 21:52] assaft commented on #65
Hi @heckflosse, I haven't had a chance to use your fix but I checked how things look with align/crop unchecked in v0.5 (the latest release). The result is much better, which suggests that the problem is largely due to over-correction of the aligner. There is much last clipping and the transition between the bright area and the darker areas in the sky is smooth. See here:
![tests](https://cloud.git

[2015-09-21 22:35] heckflosse commented on #65
Hi @assaft ,
here's how it looks like now. Merged without alignment and crop using my hdrmerge fork. Resulting dng opened in rawtherapee with neutral profile. Still some visible banding...

http://filebin.net/gn9esy6q6f/example.png

Ingo

[2015-09-21 22:47] assaft commented on #61
Just wanted to add here that the information I gave about PhotoAcute can be misleading.
Indeed, PhotoAcute aligns in RAW, but it is a demosaiced RAW.
It looks like it demosaics all bracketed files, aligns them, merges them, and then saves the merged file as a demosaicied ("linear") DNG.

Still, I'm trying to have a better understanding of the limitations mentioned in [this comment](https://github.

[2015-09-21 22:55] assaft commented on #65
Hi Ingo,
Thanks again!
The highlights look better, but as you say - there is some visible banding in the sky. This is something I don't see with version 0.5 when align&crop are unchecked (see the photo I posted above).
Could you please post a link to the merged file (to make it easier to compare the fork vs 0.5)?
Assaf

[2015-09-21 22:57] heckflosse commented on #65
Sure, uploading, takes some minutes...

[2015-09-21 23:04] heckflosse commented on #65
@assaft : http://filebin.net/694830q503

[2015-09-21 23:06] heckflosse commented on #65
@assaft btw, my fork also contains this commit from Javier https://github.com/jcelaya/hdrmerge/commit/7502607346684a747cb0ff8e2b00edff85b89f57 which is not in version 5.0

[2015-09-21 23:17] heckflosse commented on #65
@assaft For reference I also uploaded the output of hdrmerge branch master https://github.com/jcelaya/hdrmerge/commits/master to above mentioned filebin link. So you can see what's fixed in my fork...

Ingo

[2015-09-21 23:30] assaft commented on #65
@heckflosse it looks like we get very different results from version 0.5. This is what I got when I merged with no align, no crop, 16bps, full size preview, blur radius 3: http://filebin.net/tilmpwisrr; I'm running HDRMerge on Windows 7 64bit.

[2015-09-21 23:39] heckflosse commented on #65
@assaft https://github.com/jcelaya/hdrmerge/commits/master is not 0.5!!! It's one commit ahead of 0.5 and this commit is the main reason for the differences.
Your result (from 0.5) looks really good and maybe Javier should review his latest commit. I only fixed the clearly wrong behaviour of this commit...

[2015-09-21 23:46] assaft commented on #65
@heckflosse Oh OK. Sorry I confused 0.5 and the master branch. But one more thing - do you see the difference between 0.5 and the fork version? I see a problem with non-smooth transition in the fork version. If this is what you meant when you mentioned 'banding' before than I guess that we talk about the same thing. But to be on the safe side I prepared a comparison. It requires to zoom-in to see

[2015-09-21 23:51] heckflosse commented on #65
@assaft : Yes, that's exactly what I meant with 'banding'. It's not caused by my bug fix, but by Javier's change to the handling of dark images with his latest commit. Maybe I also find a solution for this...

[2015-09-22 00:02] assaft commented on #65
@heckflosse OK, good, so we are talking about the same thing. So there are the problems that I see (assuming that align and crop are unchecked):
v0.5: clipped highlights in the middle.
master: bug in the response function of dark images + clipped highlights in the middle + banding.
fork:  clipped highlights in the middle + banding.

[2015-09-22 00:24] heckflosse commented on #65
@assaft agreed, but I assume that Javier had a reason to change the response function for dark images, so we have to take this also into account (Currently don't know which Issue)

[2015-09-22 06:23] Beep6581 commented on #71
Fix confirmed.

[2015-09-22 06:24] Beep6581 commented on #65
The reason could be https://github.com/jcelaya/hdrmerge/issues/64 or https://github.com/jcelaya/hdrmerge/issues/52#issuecomment-87461099

[2015-09-22 11:39] heckflosse opened #72 "Coloured artifacts when wrong white level (satThreshold) is used"
When merging files of my D700 I often get greenish artifacts in bright regions. These are caused by hdrmerge using a white level (satThreshold) of 16383, which is to high for D700 files. I made a try with a hard coded satThreshold of 15800 and the artifacts are gone. I vote for adding a possibility somewhere in hdrmerge gui to override the white level or using https://github.com/Beep6581/RawTherap

[2015-09-22 15:59] t-o-d-d commented on #72
Great to see you guys working on this app! I hope it means an updated
version someday that non-coders like myself could use... I use the
current windows version quite a bit. Wish I knew how to compile!
Todd

On 9/22/2015 4:39 AM, heckflosse wrote:

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2015-09-22 23:24] heckflosse commented on #72
@t-o-d-d : As you I'm also on Win64. But for hdrmerge (and for some other stuff) I use Linux in a virtual machine. The 0.5.0 windows64 version of hdrmerge is quite slow. I currently don't know why but it's not using all (8) cores of my machine. On Linux the master branch makes much better use of the 8 cores (though it does not include changes which could be responsible for the better performance).

[2015-09-23 13:27] heckflosse commented on #72
I pushed a change to my fork: https://github.com/heckflosse/hdrmerge/commit/d3b43850fc1627163d8bf2a250982f67ea4d1e48

[2015-09-23 22:01] heckflosse commented on #72
For reference : http://filebin.net/v186jfz97z

http://filebin.net/v186jfz97z/d700_hdrmerge_wl16383.png shows a detail of merged result using libraw white level of 16383
http://filebin.net/v186jfz97z/d700_hdrmerge_wl15800.png shows the same detail of merged result using custom white level 15800

Above link contains all files (source files, merged files and screenshots)

Ingo

[2015-09-23 22:28] t-o-d-d commented on #72
I only have a dual core I3 processor... Gets me by because of 16GB ram
and an SSD drive, but yeah, far behind you in CPU capacity.

So I don't know how to tell if it's using 1 or 2 cores in the task
manager. I only see one service under processes. It's at about 12 megs
of memory and then when I run a merge of five DNG files, it runs at
about 50% CPU until they are merged... It's not unbearably slo

[2015-09-23 22:54] heckflosse commented on #72
@t-o-d-d

I just made a test using the files from here http://filebin.net/v186jfz97z :

1) using hdrmerge 0.5.0 on Win64 (8 cores available for hdrmerge):
Load files: 0.7846 seconds
Compute response functions: 1.24016 seconds
Generate mask: 0.057508 seconds
Fatten mask: 0.053506 seconds
Blur: 0.305039 seconds
Compose: 0.099513 seconds
Render preview: 8.01702 seconds
Write output: 0.656583 seconds

[2015-09-23 23:00] heckflosse commented on #72
@t-o-d-d : Use hdrmerge.com --vv for timing and hdrmerge.com --help for command line switches.

ingo

[2015-09-24 20:34] BINARHO opened #73 "The algorithm behind HDRmerge"
Hi, I'm reading a lot of papers about exposure merging and as mentioned in the Readme file, all of the papers I saw refer to developed RAW files, so I'm very curious to know what is the approach you took in HDRmerge that doesn't involve developing the RAW files.

Can you describe the algorithm? Or at least guide me which function responsible to what at the algorithm chain? Because reverse engineer

[2015-09-24 20:45] heckflosse commented on #73
BINARHO, you don't need to reverse engineer. Read the code... as I did...

[2015-09-24 20:56] BINARHO commented on #73
When I wrote 'reverse engineering' I meant 'decode' 41 uncommented C++ files.
As I'm not regularly program in C++, and I don't familiar with Qt (and that slows me down when I try to understand which function does UI and which implement the algorithm) I was hoping for an outline of the processing chain.

The main issue for me is that I don't understand according to what principle the mask was gener

[2015-09-24 21:06] heckflosse commented on #73
Short time ago, when I started contributing hdrmerge to make speedups and fix bugs I also didn't know something about the way it works. I read the code and understood... Sorry, you have to read the code to get an idea how it works. A few hints at least: If you want to exclude the gui files just exclude the files which contain an uppercase 'Q'. Most important files are Image.cpp (hpp) and ImageStac

[2015-09-25 08:49] BINARHO commented on #73
Can you clarify for me what ```fattenMask(mask, featherRadius)``` in the ```compose``` function (ImageStack.cpp) does? Obviously, erode the mask in some way - but what is the principle? I couldn't figure it from the GIMP code

[2015-09-25 11:15] heckflosse commented on #73
@BINARHO : The fattenmask function is indeed a bit difficult to read because of all the conditions inside the loop which are only for making it faster. Take a look at https://github.com/heckflosse/hdrmerge/blob/master/ImageStack.cpp#L337 for better understanding. Just the lines from 337 to 343, not the lines above (SSE code). You'll see that it's quite simple.

[2015-09-26 14:45] BINARHO commented on #73
Thanks, helped a lot.
I have more general question about the algorithm - I didn't see where the bit-depth expending is taking place, what I mean is that at the merging that I see at the ```compose``` function a wighted average is preformed according to the mask, but if it really just an average then we never go beyond the 12/14 bit per pixel we originally had - an I wrong? If so, this is 'Exposure

[2015-09-26 16:21] heckflosse commented on #73
@BINARHO The base scale factor (to scale up from e.g. range 0..16383 to range 0..65535) is set here https://github.com/heckflosse/hdrmerge/blob/master/Image.cpp#L56

The raw files get scaled up by this factor, merged and the result gets scaled down again to original range (not bit depth). Downscaling is here https://github.com/heckflosse/hdrmerge/blob/master/ImageStack.cpp#L415

If your input raw

[2015-09-26 17:17] jcelaya commented on #60
I think this should be done with a different program, although they could share part of the code.

[2015-09-26 17:32] jcelaya commented on #69
AFAIK OpenExr does not support the Bayer mosaic of RAW images, which is the point with having DNG as the output format. Maybe you should ask RawTherapee guys for OpenExr support as output format.

[2015-09-26 17:54] jcelaya commented on #61
The short story is that the shape of the mosaic in a RAW image, which comes from the way camera sensors are made, makes it impossible to apply such corrections, because each pixel only carries information about one color and lacks information of the other ones. Demosaicing fills those gaps.

OK, I'll try to be clear and concise... One of the main goals of HDRMerge is to merge exposures before demo

[2015-09-26 17:55] jcelaya commented on #71
Nice, thank you

[2015-09-26 17:55] #71 closed

[2015-09-26 18:08] jcelaya commented on #65
About the implementation of the response function:
One of the ideas behind HDRMerge is that merging in RAW space is easier and faster because we can assume a linear response function from the camera... but, that's not always true. Some cameras have a small non-linearity in the high end of the response function. So, I decided to use a spline for the 25% lighter values, and a linear function for the

[2015-09-26 18:17] jcelaya commented on #73
Sorry I'm a bit busy these days, so just a note about this. Thanks to @heckflosse  for the explanation. The motivation of HDRMerge is this article:
http://www.guillermoluijk.com/article/virtualraw/index_en.htm

[2015-09-26 19:33] BINARHO commented on #73
@jcelaya Thanks! very interesting article, I'm assuming the actual algorithm behind 'Zero Noise' is not available? (I didn't find it at least).

@heckflosse Thanks a lot, again. Your explanation about the integer V.S. floating-point clarify for me the problem I had in mind with the range we worked at.
The question that arise is where do we shift the values of the different exposures? Because, for

[2015-09-26 19:57] heckflosse commented on #73
@BINARHO That's what https://github.com/heckflosse/hdrmerge/blob/master/Image.hpp#L53 gives you. Also take a look at https://github.com/heckflosse/hdrmerge/blob/master/Image.cpp#L99 which calculates the base for this function.

[2015-09-26 20:14] kalmarek opened #74 "the .dng output is not readable"
I use the 0.5.0 version (but tried the git-master as well).

Steps to reproduce:
1. open test/sample[1-3].dng files
2. save output (as dng)
3. try to open the saved file (with hdrmerge, or other)

Neither hdrmerge nor darktable can read the output file (which is not really strange, they use the same libraw)

here is the file:
https://dl.dropboxusercontent.com/u/2158899/sample1-3.dng

I suspect som

[2015-09-26 20:18] heckflosse commented on #74
https://dl.dropboxusercontent.com/u/2158899/sample1-3.dng openes fine in RawTherapee

[2015-09-26 20:58] abulak commented on #74
I've just tried opening it in RawTherapee: it works.

Why can't hdrmerge open its own output??

[2015-09-26 21:05] heckflosse commented on #74
Why should it? It's made to merge integer raw files into a float raw file. Once this is done, there's nothing to do for hdrmerge.
Though the main reason is that it uses libraw. RawTherapee uses a modified dcraw (which thanks to Javier is able to read all the float dng files).
IIRC DarkTable can read 32bit float dng. Maybe you can try this?

Ingo

[2015-09-26 21:15] abulak commented on #74
Thanks for Your answers; for future searches: libraw can not read float dngs

https://github.com/LibRaw/LibRaw/issues/39

[2015-09-27 21:52] heckflosse commented on #71
Ok, I didn't see that you already fixed the bug in develop branch. Great.

[2015-09-28 09:45] porst17 commented on #60
I would say they would share almost all the code. The only difference would be the method to merge the different images which could be selected by some drop-down menu.

I already made some test implementations for this feature (using a hard coded selection of the method instead of a pull-down menu). It works ok, but I am still having problems with things like over-exposure (star trails in the *lig

[2015-09-29 21:10] heckflosse opened #75 "Dead/Stuck pixel interpolation before merging"
I would like to be able to do Dead/Stuck pixel interpolation before merging files.

Reason:
1.) Dead/Stuck pixels (always 0 or max at same position) can't be removed using standard methods (coordinate map) in post processing when files are aligned by hdrmerge (no problem without using align)
2.) Dead/Stuck pixels may confuse the align method (though I didn't check that). Also no problem without us

[2015-09-30 21:12] assaft commented on #65
Javier, do you consider the banding [shown here](https://github.com/jcelaya/hdrmerge/issues/65#issuecomment-142139308) an expected result of the last commit or a bug?
Also, what do you think about  the clipped highlights in the middle of the bright area?

[2015-10-23 22:15] sl2va commented on #74
I have problem with processing dng
https://yadi.sk/i/XhH80AzMjwFwT
It's dng file from raw video sequence (5d mark ii). After processing in hdrmerge 0.5.0 dng file don't open in lightroom (RawTherapee open). But file from still mode (.cr2), open in lightroom fine.

P.S  abulak – I can open your dng in lightroom. https://dl.dropboxusercontent.com/u/2158899/sample1-3.dng

[2015-11-12 03:59] simontheflutist opened #76 "Median blending RAWs"
I'd love to see if HDRmerge could work to do a median blend of undemosaiced RAW files pixel by pixel so as to simplify a median workflow (work on a single RAW as opposed to process a bunch of RAWs then do median of image files).

[It's been suggested on HDRmerge](https://github.com/jcelaya/hdrmerge/issues/60) before slightly differently. I was told to submit the feature request here after I did at

[2015-11-18 14:50] serhiykobyakov opened #77 "x-trans: Segfault"
Hi,

I tried to merge RAW from my Fuji X-M1, but hdrmerge crash at some point. HDRmerge was installed from ppa:dhor/myway

Few lines from crash report:
ProblemType: Crash
Architecture: amd64
CurrentDesktop: LXDE
DistroRelease: Ubuntu 14.04
SegvAnalysis:
 Segfault happened at: 0x4218a2 <_ZN8hdrmerge5Image23computeResponseFunctionERKS0_+498>:	movq   $0x0,(%rax)
 PC (0x004218a2) ok
 source "$0x0" ok

[2015-11-18 15:55] serhiykobyakov commented on #77
Sorry. Compiled hdrmerge from master - it works, no problem

[2015-11-18 15:55] #77 closed

[2015-11-18 17:53] serhiykobyakov opened #78 "Fuji X-M1 - can't get less noise in shadows..."
Hi,

Trying to merge few RAW's in hdrmerge. Canon raws are combined well, no noise in shadows in resulting dng.

But I can't produce the same result with Fujifilm X-M1

![test](https://cloud.githubusercontent.com/assets/15909653/11249156/969eb62e-8e25-11e5-9127-8d090ea74b71.jpg)

[2015-11-21 08:20] serhiykobyakov commented on #78
I made two sample RAWs with 2eV difference for testing purposes: https://www.dropbox.com/s/t9bzo1j8hiutrzr/x-m1_bracket.zip?dl=0

[2015-12-15 14:32] serhiykobyakov commented on #78
Furthermore, in GUI there is a problem with brightness. when I slide it to brighter - preview becomes completely black, and after that I cannot bring back the image, the preview just remains black...

[2015-12-15 19:21] engardeknave opened #79 "Many issues with HDRMerge 5 and Sony A7RII files"
1. HDRMerge 5.0 produces files that are pink and green, and full of artifacts. This also occurs with files from the original Sony A7R. 4.5 doesn't have this issue.
   ![Screenshot](http://i.imgur.com/KGlXom0.png)
2. HDRMerge produces files that are 8000px in length from input files that are 7952px in length. The extra pixels appear as a smear at the right edge. This only happens with files from th

[2016-01-19 19:19] milescrawford opened #80 "Unable to load Pentax .PEF files"
I am unable to load images from my Pentax K-S1 on Mac OS X.  All attempts show a dialog that says cannot open image, and the following is printed to the terminal:
/Users/mcrawfor/Desktop/IMGP1723.PEF: data corrupted at 160290

Here is the RAW file in question (zipped so github allows upload):
[IMGP1723.PEF.zip](https://github.com/jcelaya/hdrmerge/files/96444/IMGP1723.PEF.zip)

This is version 0.5.

[2016-01-20 08:46] gaaned92 commented on #75
@heckflosse did you start to implement the interpolation ? on your fork?

[2016-02-18 23:29] djotaku opened #81 "I've created a Fedora RPM"
Hey there jcelaya,

I'm not sure if you're still working on this since there don't seem to be updates for a year, but I created an RPM so that Fedora users could install without having to compile. The copr repository is at https://copr.fedorainfracloud.org/coprs/djotaku/hdrmerge/

Also, I had to patch it because Fedora does not put alglib in any of your search paths.

[2016-02-22 23:20] heckflosse commented on #75
@gaaned92 I missed your post. Sorry for that. I'm thinking about integration of hdrmerge into rt. That would solve a lot of issues (allow ca correction, bad pixel correction and all other predemosaic stuff). But these are just firsts thoughts, didn't code anything yet....

[2016-02-23 14:45] serhiykobyakov commented on #75
that is a good idea! I'd be happy to use hdrmerge functionality from RawTherapee!

[2016-03-17 10:30] KyleTheHacker commented on #52
Javier: are we going to see this 0.5.1 at some point? ^^

[2016-03-17 14:29] Beep6581 opened #82 "Merge Ingo's changes"
Please remember to merge Ingo's changes when releasing a new version:
https://github.com/heckflosse/hdrmerge/commits/master

[2016-03-18 04:51] engardeknave opened #83 "Can't see thumbnails files in open dialog box"
HDRMerge uses a non-standard open dialog (at least in Windows) that doesn't allow the viewing of image thumbnails. This makes it very difficult to choose the correct files. It's necessary to open up Windows Explorer to find the files, remember the names/numbers, then finally select all the files needed. It would be much better just to use a standard Windows open dialog in which the views can be ch

[2016-04-24 17:47] FM33 opened #84 "Cannot build in ubuntu 16.04"
Hello,

It used to work in trusty but no more in xenial :
~/Programmes/hdrmerge/build$ cmake -DCMAKE_INSTALL_PREFIX=/home/fabien/Programmes/hdrmerge/release/ ..
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   unit_test_framework
-- Configuring done
-- Generating done
-- Build files have been written to: /home/fabien/Programmes/hdrmerge/build

~/Programmes/hdrmerge/build$ make

[2016-05-05 16:00] FM33 commented on #84
I had a little time to dig into it. I found this :
https://github.com/OpenImageIO/oiio/issues/1203
I am not a coder but I tried the same thing : Edited ImageIO.cpp and removed the line at position 42 and also a "else" and a "}" trying not to break the if block.
It worked !!
Like the comment on the link, I don't know if "that has unintended runtime consequences". It seems to work fine...

[2016-05-05 16:05] FM33 commented on #80
I just succeed opening it with the current version I just build today on Ubuntu 16.04 amd64.

[2016-06-16 02:40] CarVac commented on #74
Is there any way to make HDRMerge output optimally-dithered 16-bit integer DNGs that LibRaw would be able to read?

AKA even if the bracketing is such that the deep shadows have too little noise to dither, add gaussian noise with a standard deviation of 1/2 of an LSB so as to eliminate banding?

It's either that, or having the RawTherapee team spin out its raw loading facilities into a library for

[2016-08-01 11:55] Beep6581 opened #85 "libraw-0.17 no longer supports LIBRAW_DECODER_FLATFIELD"
Compiling using libraw-0.17.* will fail with:
[code]

What OpenImageIO did about this:
https://github.com/OpenImageIO/oiio/pull/1204
What LIBRAW_DECODER_FLATFIELD is:
http://www.libraw.org/docs/API-datastruct-eng.html

[2016-08-01 12:04] Beep6581 commented on #85
The attached patch seems to work.

[hdrmerge_85.txt](https://github.com/jcelaya/hdrmerge/files/393661/hdrmerge_85.txt)

[code]

[2016-08-09 19:20] Beep6581 commented on #85
Fixed https://github.com/jcelaya/hdrmerge/commit/413bccd9f38594a5fca0b0a1fb01c23d4fda6843

[2016-08-09 19:21] #85 closed

[2016-08-09 19:21] Beep6581 commented on #84
Duplicate of #85 , fixed.

[2016-08-09 19:21] #84 closed

[2016-08-09 20:14] heckflosse commented on #82
Done with 6b79263

[2016-08-09 20:14] #82 closed

[2016-08-09 20:16] heckflosse commented on #72
Done with 6b79263

[2016-08-09 20:16] #72 closed

[2016-08-09 20:47] heckflosse commented on #81
@djotaku https://discuss.pixls.us/t/hdrmerge-status-update/2009

[2016-08-11 19:36] heckflosse commented on #79
@engardeknave I took a look at the uncompressed files issue:

When you start hdrmerge -vv you get some info about the files.
Here's what I got:

[code]
Take a look at the sat value: the darker files have sat value 16383, but the brightest file has sat value 4095. I guess this different sat values (white levels) confuse hdrmerge.

@iliasg Can you take a look at the first three raw files from the ab

[2016-08-12 13:30] iliasg commented on #79
I am not able to dig in for the moment, but this sounds same as the problems we had with RT and ARW uncompressed files tagged as 12 bit while in fact they are 14 bit (WL 16383) but with 3/4 of levels empty.

[2016-08-12 22:42] heckflosse commented on #79
@iliasg Was this problem solved in rt or by dcraw update? I don't remember :(

[2016-08-13 07:52] iliasg commented on #79
@heckflosse Ingo, you supplied a patch for RT excluding ARW2-3 files from relying on exif bitdepth tag.
http://rawtherapee.com/oldforum/viewtopic.php?f=1&t=6316
https://github.com/Beep6581/RawTherapee/commit/77cf129bf23e8cb7aff9048f67fe4e56f849f8fa
I don't know if/how latest Dcraw / Libraw solve this ..
In any case, HDRmerge needs to get updated with latest Libraw to gain support for many new mode

[2016-08-13 10:50] heckflosse commented on #79
@iliasg Thanks for the hint. I found the patch.

[2016-08-13 12:45] iliasg commented on #79
Yes Dcraw9.27 still failes on 12bit uncompressed ARWs ..
.. latest Libraw (HDRmerge's decoding engine) can handle them with no problems ..

[2016-08-14 21:00] engardeknave commented on #79
In my opinion the the uncompressed RAWs aren't the most pressing issue. Nobody really uses them. It would be great to get HDRMerge working with regular compressed RAW files from the A7RII. It would also be great not to have to crop the stretched pixels off the right edge.

[2016-08-14 21:40] heckflosse commented on #79
The Issue with compressed arw files is caused by libraw. We tried today using hdrmerge with libraw 0.17.2 and set custom white level to 4075. That worked fine.

Ingo

[2016-08-19 19:10] StrobFX commented on #79
how do you use the lates libraw?

[2016-08-19 19:29] heckflosse commented on #79
@StrobFX How to use latest libraw depends on your OS. On my Sabayon Laptop I installed libraw 0.17.2 with the package manager and build HDRMerge. On my Mint Virtual machine I'm still at an old libraw version which does not work correctly with files from Sony A7RII. On my windows machine I can't build hdrmerge at all.

Btw: I still got the 'wrong' size (8000) using libraw 0.17.2 iirc but RawTherape

[2016-08-19 19:33] StrobFX commented on #79
Ok I have to build the software from the binary. It's still something I have never done. Do you have any link to a tutorial showing step by step how to build a realease? I'm windows but planning to install Unix soon.

[2016-08-19 19:44] heckflosse commented on #79
@StrobFX There are instructions how to make a windows version of HDRMerge on a Linux system (Cross compile) but I never tried that. Building a Linux version of HDRMerge on Linux is easier. I just configured it a week ago on my Sabayon Laptop and it did not take much time, but I didn't recorded the steps. Once correctly configured it's also easy and fast to stay up to date with latest HDRMerge code

[2016-08-21 16:13] Beep6581 commented on #79
The other way round: you have the build a binary from source.

I wrote this script to automatically get the source code and build the latest git version of HDRMerge. It's for Linux, but you may still find it useful. I suppose the biggest problem with compiling HDRMerge in Windows would be getting the dependencies. Once that's done, compiling HDRMerge should be easy and similar to Linux.

[code]

[2016-08-21 17:12] engardeknave commented on #79
I guess I'd need to compile a new version to get that custom white balance option? I'm using the 0.5 release on Windows.

[2016-08-21 17:23] heckflosse commented on #79
@engardeknave Yes, exactly. If you're on Linux, try the script from @Beep6581

[2016-08-21 21:56] heckflosse commented on #79
@engardeknave I didn't read your comment correctly. Now I saw you're on windows. My bad. But @Beep6581 currently tries to cross compile a new windows version on Linux. We hope that will work.

Ingo

[2016-08-22 21:49] LebedevRI opened #86 "[Q] Option to choose DNG compression?"
Hi from darktable.

We were asked about an issue of hdrmerge-produced dng's not being able to be loaded by darktable several times, and IIRC we always said that it is the deflate compression is the problem, uncompressed / JPEG-compressed 32-bit FP DNG's are supported, so just don't compress them for now.
And as i have just found out, hdrmerge actually can only write compressed DNG...
No one correc

[2016-08-22 22:09] heckflosse commented on #86
@LebedevRI : :+1: if you produce a patch!!!

[2016-08-22 22:36] heckflosse commented on #86
@LebedevRI : Sorry for short answer in last post. Now a bit more detailed.
You're right that HDRMerge currently only writes compressed DNG files.
A patch (or PR) writing uncompresses files would be very welcome.
But I won't be able to test the output of the patch as I'm using Rt which does not read uncompressed float DNG files.
For this reason I would appreciate that another DT dev (houz, hanatos,

[2016-08-23 09:09] LebedevRI commented on #86
Hm, the hdrmerge part works.
But now i have to ask: why does the hdrmerge produce tiled dng's?

[2016-08-23 09:51] jcelaya commented on #86
No real reason. The code is inspired in the Adobe DNG SDK, which (if I
remember well) always produces tiled dngs.

Javi

2016-08-23 11:09 GMT+02:00 Roman Lebedev <notifications@github.com>:

[2016-08-27 16:22] gaaned92 opened #87 "Link error on W32"
I made a trial on W32 to build hdrmerge, but it stopped at link step.
Build parameters are following:

[code]

One compilation warning:

[code]

First linking error:

[code]

And a second for hdrmerge.exe linking error identical to above

[2016-08-29 14:33] #80 closed

[2016-08-29 15:54] patdavid opened #89 "Ok to link to the forum at pixls.us?"
Hi Javier (et al)!

Before I issue a PR I wanted to check and see if it was ok if I added links to the forum for HDRMerge on pixlsus (https://discuss.pixls.us/c/software/hdrmerge) to the README.md and the index page (on gh-pages)?

[2016-08-29 17:31] jcelaya commented on #89
I see no problem

Javi

2016-08-29 17:54 GMT+02:00 Pat David <notifications@github.com>:

[2016-08-31 20:06] #89 closed

[2016-08-31 20:13] Floessie opened #92 "Uneven greens"
Hi there,

I'm having an issue with HDRMerge that pops up now and then only for some photo stacks. Here is a recent example:

![amaze](https://cloud.githubusercontent.com/assets/10133457/18143124/04f448a0-6fc1-11e6-9de2-86e5208fd19f.png)

After pushing the shadows (with tonemapping in this example), I sometimes get regions showing a pattern like above. I already figured out that they can be suppre

[2016-08-31 20:58] heckflosse commented on #92
IMHO HDRMerge should be able to to the RT predemosaic steps itself before merging.

Let me explain:

1) badpixels should be corrected before merge because they a) can't be removed after merge when source files are misaligned and b) can lead to misalignments when using 'aligning' in HDRMerge.

2) darkframes should be applied before merge because it removes hot/dead pixels which could confuse the al

[2016-09-01 06:25] Floessie commented on #92
Aha, so I was struck by 4), I suppose. I've got another example of a single pano strip, showing this phenomenon, with all other strips being okay. Maybe the wind shook my tripod when taking the shots for that particular strip.

Porting all those things over to HDRMerge seems way more expensive than porting HDRMerge's core algorithm over to RT (apart from UI integration). I'm not raising my hand. ;

[2016-09-01 08:39] heckflosse commented on #92
@Floessie Unfortunately I was wrong when assuming 'Green equilibration' is predemosaic. It's postdemosaic.

[2016-09-14 00:20] KarlTheKangaroo opened #93 "HDRmerge unable to open file"
For some reason, when I try to merge HDRs, the program tells me that it is unable to open a certain file.
![troubleshoot for hdrmerge](https://cloud.githubusercontent.com/assets/22183685/18495897/f5769340-7a53-11e6-8e47-586de20f0fd7.PNG)
Cheers

[2016-09-14 16:23] Beep6581 commented on #93
You need to upload the raw files for us to try and reproduce. Use https://filebin.net/

[2016-09-15 02:11] KarlTheKangaroo commented on #93
@Beep6581 https://filebin.net/4m20torflbtq30zy

[2016-09-15 11:07] heckflosse commented on #93
Those are jpg files with wrong ending.

[2016-09-15 11:14] KarlTheKangaroo commented on #93
@Beep6581 @heckflosse Thanks guys, stupid mistake :P I uploaded them onto google drive and downloaded them again which might be the root of the problem.

[2016-09-15 18:44] #93 closed

[2016-09-16 12:46] aferrero2707 opened #94 "Wrong include path for LibRaw header"
The sources include the LibRaw header this way:

    #include<libraw/libraw.h>

However, the cmake configuration system defines a compiler option for LibRaw header inclusion like this:

    -IPREFIX/libraw

PREFIX is usually /usr/include for system-wide development files, but might be different if a custom LibRaw is being used, for example to have a version newer that the one supplied by the distr

[2016-09-16 13:51] #94 closed

[2016-09-17 00:35] heckflosse opened #95 "Add a link to hdrmerge appimage in readme.md"
As soon as the hdrmerge appimage build using latest hdrmerge master and libraw code is available, we should add a link to the appimage in readme.md

[2016-09-17 23:35] Beep6581 commented on #95
Yes, I'll take care of it. I'll do it either when the AppImage uses the latest libraw(-beta), or when it is announced that using the latest libraw beta is not possible (for whatever reason).

[2016-09-18 21:42] heckflosse opened #96 "Contributor list"
I would like to make a list of hdrmerge contributors like the one [we have in RawTherapee](https://github.com/Beep6581/RawTherapee/blob/master/AUTHORS.txt) and show them in hdrmerge/about window.
Any objections?

Ingo

[2016-09-19 06:56] Beep6581 commented on #96
That's standard practice, +1

[2016-09-19 08:17] jcelaya commented on #96
+1

Javi

2016-09-19 8:56 GMT+02:00 Beep6581 <notifications@github.com>:

[2016-09-23 20:26] Blizzara commented on #37
Hi! I asumme this was never implemented? At least I think I hit the same problem. I'm thinking of trying to implement this myself, so I was wondering if you @jcelaya had some concrete idea on how to do this?

[2016-09-24 07:49] jcelaya commented on #37
Maybe you can go through all the images on a first run, find the most exposed one, and use it to scale down all the DNGs in relation to their apperture/speed/ISO. I don't see an obvious solution here.

[2016-09-28 18:32] AlexMatiash commented on #79
@engardeknave

Hey, I'm using them! :) Seriously, I shoot only in uncompressed raw on a7r II.

[2016-09-29 20:05] gaaned92 commented on #87
@heckflosse
Could you help to find what is missing in the build process for windows?
André

[2016-09-29 21:01] heckflosse commented on #87
@gaaned92 I can try to build for 64 bit windows but not for 32 bit. Which version of libraw do you use?
Ingo

[2016-09-30 05:55] Beep6581 commented on #87
I fixed the formatting. @gaaned92 it makes your posts much more readable when you surround code in three "```" marks. Edit your post to see what I mean.

[2016-09-30 12:48] heckflosse commented on #87
@gaaned92 It looks like the linker is missing jpeg, jasper and lcms

[2016-09-30 13:33] gaaned92 commented on #87
@Beep6581 : thank you for the tip

@heckflosse : I have the following packages installed in MSYS2

- mingw-w64-i686-jasper 1.900.1-4
- mingw-w64-i686-libjpeg-turbo 1.4.2-2
- mingw-w64-i686-libraw 0.17.1-1
- mingw-w64-i686-lcms2 2.7-1
it is also missing openmp

So it seems that a path or a command is missing in the cmake file.
I tried to insert pkg-check-modules command with no result.

[2016-09-30 22:18] gaaned92 commented on #87
Sorry! I inadvertently closed the topic

[2016-09-30 22:33] heckflosse commented on #87
@gaaned92 And I wondered why you closed it :)
One question: All link errors are related to libraw_r. Do we need libraw_r or would libraw just be ok? Sorry, that's just a question as I have no clue what's the difference between libraw_r and libraw...

Ingo

[2016-10-01 08:40] gaaned92 commented on #87
According to [libraw doc](http://www.libraw.org/docs/Install-LibRaw-eng.html) ,

    In the current version, only static libraries are built:

    libraw.a: non-thread-safe version
    libraw_r.a: thread-safe

I fear that the problem will be the same with libraw.a
André

[2016-10-01 16:35] heckflosse commented on #87
@gaaned92 Did you build libraw [this way](https://github.com/jcelaya/hdrmerge/blob/master/INSTALL_mingw.md#build-libraw)?

[2016-10-01 22:28] gaaned92 commented on #87
@heckflosse  :
Ah! I see that jasper, jpeg, lcms are  disabled. I wonder why? and why I should not use the libraw that is distributed in MSYS2?

 I built 0.17 with" libraw cmake", but as it was available through MSYS2, I installed the package with pacman.
As libraw cmake is incompatible with 0.18, I tried to build 0.18 with ./configure way but found problems. I asked to libraw people with no succe

[2016-10-01 22:39] heckflosse commented on #87
@gaaned92 I would try building libraw 0.17 yourself (without jasper and so on) to see whether that solves the link errors. If that works, of course using libraw 0.18 would be even better, but let's make small steps (as in my optimizations ;)

[2016-10-02 14:47] gaaned92 commented on #87
@heckflosse That'not a pleasant perspective! I am first trying building 0.17 the ./configure way.

[2016-10-02 15:51] gaaned92 commented on #87
It miserably fails on compile error this time.
[here the error log](https://filebin.net/zalca4u7qwkqaoc7)

There are a huge amount of warnings : perhaps you know the flag permitting to suppress them.
and an error on dcraw_common.cppp

[2016-10-08 22:11] heckflosse commented on #87
@gaaned92 André, iirc there is an option to build libraw without the demosaic pack. The errors in you log are related to vng demosaic. Maybe it helps to build without that. Hdrmerge only needs very basic demosaic to create the thumbs for the dng files.

[2016-10-09 20:01] Beep6581 commented on #87
Actually when I tried compiling LibRaw manually [two weeks ago](https://discuss.pixls.us/t/solved-how-to-compile-compressed-raf-fuji-x-pro2-x-t2-support-into-libraw/2323/5?u=morgan_hardwood), the demosaic pack(s) did not try to compile by default - to compile them one had to enable them manually.

[2016-10-23 20:31] LebedevRI commented on #86
@jcelaya
Looking into this again...
How *exactly* does hdrmerge create float dng's?
I see that it writes `whitePoint: 15438` into exif.
Does that mean that `max(data) == 15438.0f`?
Is the float data normalized (as it should be) so that `whitePoint == 1.0f` ?

[2016-10-23 21:19] heckflosse commented on #86
@LebedevRI Where does hdrmerge write 15438 as white point into exif? Please point us to the line of source which does that!

[2016-10-24 07:01] LebedevRI commented on #86
https://github.com/jcelaya/hdrmerge/blob/8bd6e7f199ec3e55206715ef5ca44aee5df5a983/DngFloatWriter.cpp#L266
(Of course, i did not mean it writes `const 15438` into every dng)

[2016-10-24 11:54] heckflosse commented on #86
@LebedevRI
The float data is not normalized to 1.0. It is in the range of the input data.
The WhiteLevel written to the dng file is the one hdrmerge gets from libraw as are the black levels.

[WhiteLevel](http://www.awaresystems.be/imaging/tiff/tifftags/whitelevel.html) has integral type, means normalizing it to 1.0 would end up in 1 being the only usable WhiteLevel which doesn't make sense.
The C

[2016-10-25 18:56] jcelaya commented on #86
Well, data could be normalized so that blackpoint == 0.0f and whitepoint ==
1.0f, but the problem is that most dcraw-based loaders (like Rawtherapee)
assume some parameters based on the maker-model combination, instead of
reading the DNG tags. So I keep the black and white points from the source
images, and scale the merged data to that interval. In your case, 15438 was
either the maximum among th

[2016-10-25 21:49] heckflosse commented on #86
@jcelaya

assume some parameters based on the maker-model combination, instead of
reading the DNG tags

which is good, because white levels and black levels provided by libraw sometimes are far from being optimal...

For that reason (wrong white levels from libraw) I implemented the custom white level feature for hdrmerge.

Ingo

[2016-10-29 21:33] eduperez opened #97 "Save to same folder as input files"
When saving, hdrmerge always remembers the last folder where a file was saved; I think it would be more useful to change to the folder where the input files are located

[2016-10-29 22:11] heckflosse commented on #97
@eduperez That would be useful for one workflow, but not for other workflows.
Wouldn't it be better to remember the destination folder in the way RawTherapee does in queue processing?

![savemerged](https://cloud.githubusercontent.com/assets/13733487/19833057/50042412-9e35-11e6-91b1-7151d90ba815.png)

[2016-10-30 12:40] Beep6581 commented on #97
I agree with @heckflosse that what's good for one workflow might not be good for another, but I also agree with @eduperez that saving to the source folder would be the more common scenario and so should be the default behavior.

RawTherapee adds a temporary shortcut ("bookmark") in the load/save file windows, the shortcut points to the source folder, but this behavior isn't implemented for all fil

[2016-11-26 04:45] joegiampaoli opened #99 "Export to 16-bit & 32-bit TIFF"
What about exporting to high bit TIFF (16 - 32 bit float) so other programs can open the merged HDR output?

Thanks for a great program...

[2016-11-30 07:12] Floessie commented on #92
@heckflosse Maybe this could benefit from your motion detection work done for the pixelshift branch...

[2016-12-13 00:57] alexforencich opened #100 "Open dialog pops up on un-minimize and desktop switch"
Open dialog pops up and takes focus when HDRmerge is un-minimized or when the desktop is switched.

[2016-12-13 08:06] Beep6581 commented on #100
@alexforencich which version of HDRMerge, which OS, which window manager, how did you un-minimize it, etc... http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-12-13 08:18] alexforencich commented on #100
Sorry.  Latest version from git, on Arch Linux with XFCE, un-minimized by clicking on the corresponding window button on the panel or alt+tab.

[2016-12-14 01:54] alexforencich commented on #100
Looks like you're unconditionally showing the open dialog when the window show event occurs.  Changing this to only display the dialog when the image stack is empty solves this issue.

[2016-12-14 04:58] photographer-mememe opened #102 "Batch with fixed number of photos instead of gap? May skip long exposures in gap."
Is it possible to batch with a fixed number of photos?
When using gap, some sets could be mixed up or missing.

For example I do longer exposures for panorama photos using fisheye.
To get 360 degrees I shoot 4 set of 3 bracketed images, total 12 images.
(with hundreds of images in a shooting).

So when doing one panorama (12 images), for example I shoot first set -3ev 0ev +3ev, maybe 6, 2, 1/2 sec

[2016-12-14 09:33] Beep6581 commented on #102
I shoot the same way, but I move all photos from each panorama into their own folder and run HDRMerge in batch mode on that folder, no gap. The two seconds it takes to create a folder and move the relevant photos into it is less than the time it takes figuring out the ideal gap and dealing with false positives. Would that not work better for you?

If not, then how exactly should such a feature wor

[2016-12-14 10:18] photographer-mememe commented on #102
I decided to use Lightroom.  I was trying out HDRMerge because Lightroom doesn't have a batch function.  But I'm getting noise in the black with HDRMerge 0.5.  I checked the mask, it's solid on the black.  In Lightroom it's noiseless.  In HDRMerge I had to push up the DNG to +4.5ev, while in Lightroom I set it to +1.33 ev to get the same result.  I don't know if this has something to do with the b

[2016-12-14 10:22] Beep6581 commented on #102
Can't say with certainty without seeing the raw files in question, but probably not a HDRMerge problem as Lightroom denoises photos even when denoising is disabled.

[2016-12-14 10:22] #102 closed

[2016-12-14 10:24] photographer-mememe commented on #102
In my HDRMerge DNG I was also getting black banding on things like a black chair.  I think it's similar to the issue with the white banding that I saw on the issues list.

[2016-12-14 14:37] #100 closed

[2017-01-06 16:55] LebedevRI opened #103 "decodeFPDeltaRow() license?"
@jcelaya  Hi.
What is the license of `decodeFPDeltaRow()` function in https://github.com/Beep6581/RawTherapee/blob/880d0305486d8d9f6a4bb71c9f42a45921bfe48e/rtengine/dcraw.patch#L3173-L3183 ?
I'm being suggested to use it in LGPL2 library, https://github.com/darktable-org/rawspeed/pull/17

[2017-01-06 17:16] jcelaya commented on #103
MIT License, copyright 2014 Javier Celaya <jcelaya@gmail.com>

Thanks for asking :)

El 6/1/2017 17:55, "Roman Lebedev" <notifications@github.com> escribió:

[2017-01-06 17:24] LebedevRI commented on #103
Thank you.

[2017-01-06 17:24] #103 closed

[2017-01-15 19:25] LebedevRI commented on #86
JFYI the darktable git master as of right now finally supports 32/24/16 bit unnormalized fp DNG with predictor + deflate.
I don't like that they are not normalized, but the dng spec is quite broken in this regard.
I would still like to have some more settings over the output DNG, but that would be a pr.
So this issue can be closed.

[2017-01-15 19:25] #86 closed

[2017-01-15 19:36] heckflosse commented on #86
@LebedevRI :+1:

[2017-01-16 22:56] DavidOliver commented on #86
Many thanks, @LebedevRI and @heckflosse.

[2017-01-17 10:39] LebedevRI commented on #86
and let's not forget @anarsoul for doing the rawspeed part https://github.com/darktable-org/rawspeed/pull/17

[2017-02-05 06:46] Teddy2017 opened #104 "Batch process"
Hi,
I am not a programmer, and I need to use the batch process to make HDR .
The option -a -B are not work. In theory, yes, will work, but in fact, no.,
Please, if do you know how to write the command line syntax  for batch HDR, will appreciate.

Example:
I put my .dnf (or .nef) files in the folder named "D:\test".

How must look like the command line to make HDR on 24 bits
 (each set of photos wa

[2017-02-05 12:24] Beep6581 commented on #104
Works fine.

[code]

Upload a bracketed set using https://filebin.net/ if you would like me to try with your files.

[2017-02-05 13:01] Teddy2017 commented on #104
Ok,
Thank you!

Please tell me:
You put all .nef files into a folder - Example: D\test,  and, then what command line do you type on cmd.exe?

Here is my photos:
http://fastupload.rol.ro/32f3231082e1f02dde394abeac6b9a7e.html

https://filebin.net/ - run too slow...

[2017-02-05 22:58] Beep6581 commented on #104
@Teddy2017 I can't unpack rar files, and that website looks dodgy. It put your rar files in a zip file and included spam. If you want me to take a look, please put the photos in a libre compressed format such as zip, 7-zip, bz2, etc., and upload using https://filebin.net/

[2017-02-05 23:10] Teddy2017 commented on #104
https://filebin.net/jl09lrcnlb6jz3v2

[2017-04-05 14:23] LebedevRI opened #105 "hdrmerge appears to write wrong tag type for NewSubfileType"
[code]
it should be LONG.
Yet the code [appears](https://github.com/jcelaya/hdrmerge/blob/8bd6e7f199ec3e55206715ef5ca44aee5df5a983/DngFloatWriter.cpp#L241) to write it correctly.

The sample is https://raw.pixls.us/getfile.php/883/raw/hdrmerge-bayer-fp32-w-pred-deflate.dng
Converted from https://raw.pixls.us/getfile.php/771/raw/5G4A9394.CR2
using
[code]
which i think is 8e652a1b17e989e372682bae6fe

[2017-04-05 14:44] heckflosse commented on #105
@LebedevRI Why do you think 8e652a1 is related?

[2017-04-05 14:58] LebedevRI commented on #105
i was speaking about the version that i believe i used when generating the dng

[2017-04-05 15:06] heckflosse commented on #105
It's written [here](https://github.com/jcelaya/hdrmerge/blob/master/ExifTransfer.cpp#L173).

[2017-04-05 15:17] LebedevRI commented on #105
Aha!
So i guess that should be `0u`.

[2017-04-05 15:48] #105 closed

[2017-04-05 16:42] LebedevRI commented on #105
Thank you.
Though It's interesting that ${adobe dng validity checker} program did not complain
(i did not check)

[2017-05-06 05:51] SyedAzha opened #106 "HDRMerge : Unable to open .dng file"
![capture1](https://cloud.githubusercontent.com/assets/28474772/25770243/18c351fe-3263-11e7-84af-4ea44cffdcad.PNG)
Here is a link to that RAW file:
https://filebin.net/p28u363y6ch3tbv1
All other programs like lightroom, photoshop, and Camera RAW can open it. So, I'm sure there is nothing wrong with the file.

[2017-05-06 16:58] heckflosse commented on #106
That's an already demosaiced DNG file. HDRMerge works on undemosaiced data only.

[2017-05-19 15:22] SyedAzha commented on #106
Is there a way to undemosaic such .dng files

[2017-05-19 20:18] Beep6581 commented on #106
No.

[2017-05-19 20:18] #106 closed

[2017-06-04 14:50] alexforencich opened #107 "Green color where mask was manually adjusted"
I made a few manual adjustments to the masks to remove some ghosting (replaced blue layer (+2 EV) with green layer (+4 EV) in a few isolated spots) and the result was that the pixels that corresponded to the changed mask turned a nasty shade of green.

![hdrmerge-green](https://cloud.githubusercontent.com/assets/508807/26762618/1e9219fa-48fa-11e7-91b9-b039a45aec6d.png)

I'm running the latest git

[2017-06-04 15:27] Beep6581 commented on #107
@alexforencich duplicate of #64 ?

[2017-07-28 03:29] AshwinParanjape opened #108 "LIBRAW_DECODER_FLATFIELD no longer supported"
The most recent version of LibRaw (0.17.0) no longer defines LIBRAW_DECODER_FLATFIELD and hence no longer compiles.
I fixed it temporarily with
[code]

[2017-08-18 09:52] Floflo81 commented on #40
This is very needed because the automatic alignment algorithm just doesn't give satisfactory results in many cases.

[2017-08-18 21:07] probonopd opened #109 "Please provide AppImage for download on GitHub Releases"
Please provide the AppImage for download on GitHub Releases, thanks.
Possibly you might be interested in https://github.com/probonopd/uploadtool which simplifies this.

Reference:
AppImage/AppImageHub#15

[2017-10-03 15:18] dannephoto opened #111 "Mac compiling"
Is this fine program still maintained?
I use the mac version of HDRmerge and built a scriptbased tool around the command line renderer which works really good. Sometimes I have issues like getting pink output in highlights and I would really like to check out stuff in code. Now compiling seems very hard on mac. I get to the point where it looks for openmp but it will still compile but there will b

[2017-10-15 19:43] Beep6581 commented on #111
It is maintained, though AFAIK none of the devs use macOS.

The native system compiler provided by Apple is badly outdated and does not support OpenMP. Try using the latest stable compiler from MacPorts, it supports OpenMP.

This is the guide for compiling RawTherapee in macOS, maybe you will find some ideas there:
http://rawpedia.rawtherapee.com/MacOS

[2017-10-15 21:25] dannephoto commented on #111
Thanks. Will give it a go.

[2017-11-06 01:45] sguyader commented on #78
This issue seems to be related to the way black levels are read by libraw for X-trans sensors, I think.
I have the same issue with the X-T2: preview is black, and the output DNG is pinkish. More correct colors can be retrieved by tweaking black levels in RawTherapee, but the resulting image is noisy.
In fact, in file `RawParameters.cc` I replaced `black=r.color.cblack;` with `black=1022;` and this

[2017-11-06 01:51] sguyader opened #112 "Black levels for x-trans files are not read correctly"
This issue is related to #78, I think it's a general problem with Fujifilm x-trans raw files.

I have the same issue with the X-T2: preview is black, and the output DNG is pinkish. More correct colors can be retrieved by tweaking black levels in RawTherapee, but the resulting image is noisy.

In fact, in file [`RawParameters.cpp`](https://github.com/jcelaya/hdrmerge/blob/master/RawParameters.cpp#L

[2017-11-06 08:00] Beep6581 commented on #78
@serhiykobyakov the download link is 404.

[2017-11-06 17:07] sguyader commented on #78
@Beep6581 Morgan, the issue is almost 2 years old...
In case you wanna check, I have uploaded some files [there](https://filebin.net/lag66zdqpx22jzzi) (3 RAF files, and DNG output from HDRMerge).

[2017-11-06 17:35] Beep6581 commented on #78
Confirmed. Compiled against libraw-0.18.5.

For reference, the white level from `camconst.json` for the FUJIFILM X-T2 is 16100, and the black level in the metadata is 1022.

[2017-11-06 17:37] Beep6581 commented on #78
Closing as duplicate of/depending on #112

[2017-11-06 17:37] #78 closed

[2017-11-06 17:54] Beep6581 commented on #112
Confirmed that black is detected as 0. I opened an issue over at LibRaw to find out more:
https://github.com/LibRaw/LibRaw/issues/107

[2017-11-06 18:36] sguyader commented on #112
Thanks @Beep6581
Would making HDRMerge read the correct black level also solve the issue that only the pixels of the darkest frame are returned in the output DNG?

[2017-11-06 19:00] Beep6581 commented on #112
I set black to 1022, set the white level to 15078 just to be safe (16100 - 1022), and the preview was still black. Commented-out `adjustBlack();`, no difference.

The next question is whether the black preview bug is indeed only a preview bug, or whether the input really is black. We could be able to tell based on the output, but not using the supplied images, because they are all underexposed, so

[2017-11-06 19:10] sguyader commented on #112
OK I'll do that later.
However, in my case it's the darkest image, and not brightest one, that is used by HDRMerge. To see this, I compared in RT the DNG output (made with a modified RawParameters.cc with cblack=1022) with the 3 original files, boosting the exposure to make them as bright. And what I see is that the noise in the shadows is exactly the same in the DNG output as in the pushed darkes

[2017-11-06 19:50] sguyader commented on #112
@Beep6581 here's a set of files, which I hope will be okay for our purpose: https://filebin.net/5cdl1y3dze1s9ge7

[2017-11-06 20:45] sguyader commented on #112
I can get the preview éwork" by hardcoding the value 1022 for `d.params.user_black` and `d.params.user_cblack[c]` in file `ImageIO.cpp`.
But still, HDRMerge always uses the darkest image and pushes it to normal brightness (the saved mask is all white).

[2017-11-07 10:11] Beep6581 commented on #112
The black levels need to be taken from `imgdata.color.cblack[6..41]`

Per-channel black level correction. First 4 values are per-channel correction, next two are black level pattern block size, than cblack[4]*cblack[5] correction values.

But even so, the preview is still completely black, and the output DNG uses only one of the source raws.

The filter describing the pixel order seems to be corre

[2017-11-07 11:58] sguyader commented on #112
Thanks for your help.

Are you sure about that? RT seems to use only the 4 per-channel black level values (`cblack[0..3]`)
Also, I get correct black level values and correct colors in dng output when I hack cblack[] in `RawParameters.cc` this way, adding the 4 lines below at lines 199-202:
[code]
I get the same wrong colors in output if I set cblack[0..3] to "0" instead of "1022", or if I comment

[2017-11-07 12:45] Beep6581 commented on #112
There's very little I'm sure of.

RT uses dcraw and its own herbs and spices. HDRMerge uses libraw.
Having said that, RT seems to be using 6 as well, see https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimage.cc#L95

You don't need to set 1022 for each channel, just set it for `black`, and `adjustBlack();` will propagate it into the 4 channels since cblack[0-3] == 0.

By the way, it's

[2017-11-07 13:58] sguyader commented on #112
If I understand the comment in this file, RT reads only the value of cblack[6] (because all 36 cblack[6..41] values are identical) and then it populates its own cblack_[0..3] with this value?

I'm such a noob...

Thanks, I edited my last post too.

[2017-11-07 14:02] heckflosse commented on #112
@sguyader

correct

[2017-11-07 14:57] sguyader commented on #112
Being a noob, I don't mind testing what may be crazy... So, in `RawParameters.cpp` I changed `black = r.color.black` to `black = r.color.cblack[6]`. And to my surprise, the output DNG looks right in terms of colors (but it's still made only from the darkest frame). AND, it also works with Pentax files (tested with "amsterdam_moving_boat" files).
Also, by setting the custom white level to what look

[2017-11-22 19:16] Floessie opened #113 "Extreme dynamic scene loses most details"
Hi Ingo and DrSlony,

I've shot a scene using Magic Lantern's auto HDR bracketing, which correctly resulted in eight shots all 2EV apart. I naively saved them to a 16b DNG, knowing the embedded preview would be crap. Only later, when I struggled developing the DNG in RT, I learned that this DNG was only 1MB in size. 😮

Then I saved the series in 32b, this resulted in a 16MB DNG, again undevelopabl

[2017-11-22 20:57] Beep6581 commented on #99
The DNG is not demosaiced, it's raw. For the TIFF to be usable by other software, it would need to be demosaiced. That can be done by opening the raw DNG in for example RawTherapee, with far greater control than HDRMerge would allow.

[2017-11-22 20:57] #99 closed

[2017-11-22 20:58] #96 closed

[2017-11-22 21:25] Beep6581 commented on #113
Would be good to first exclude Magic Lantern as the source of the issues. I've never processed Magic Lantern raws in HDRMerge. Could you try the maximum bracketing set allowed by standard Canon firmware?

I renamed the files in order of EV, 1-8.cr2.

Worth nothing that `--batch` mode detects 3 sets, and the black levels and wb are not constant.
See #1 and https://github.com/jcelaya/hdrmerge/issues

[2017-11-22 21:34] Beep6581 commented on #13
Closing as the feature has been merged into master long ago.

[2017-11-22 21:34] #13 closed

[2017-11-22 21:37] Beep6581 commented on #52
Closing as Javier wrote that he fixed the issue, the filebin is expired, and I haven't noticed this problem in a long time.

A new release will be made soon.

[2017-11-22 21:37] #52 closed

[2017-11-22 21:57] Beep6581 commented on #76
Duplicate of #60

[2017-11-22 21:57] #76 closed

[2017-11-22 22:02] #73 closed

[2017-11-22 22:25] Beep6581 commented on #74
LibRaw supports floating-point DNGs:
https://github.com/LibRaw/LibRaw/issues/39#issuecomment-240998284

[2017-11-22 22:25] #74 closed

[2017-11-22 23:48] Beep6581 commented on #79
I tested 12-bit and 14-bit compressed and uncompressed ILCE-7RM2 photos, no issue found.

v0.5.0-43-g 23fde0a
libraw-0.18.5

[2017-11-22 23:48] #79 closed

[2017-11-23 07:53] Floessie commented on #113
@Beep6581

The Canon EOS 600D can only do three bracketed shots (max. +-2EV) with stock firmware. That's why I use ML. There's nothing special about the CR2s (apart from not having the bracketing sequence tag AFAIK), as ML only changes the shutter time the way I would do manually. So you can take the center three images and basically get what Canon bracketing would have shot. Worth to mention, I n

[2017-11-23 09:07] Floessie commented on #113
@Beep6581 In your batch run, why is the 10s exposure (1/0.1) still rated -2.67807EV? Is that normal? I would have expected at least 0 for the brightest image.

[2017-11-23 09:20] Beep6581 commented on #113
@Floessie I'm "under the impression" that it doesn't matter as long as the step size is right, but I will test both the EV and WB on some other shots this weekend.

[2017-11-23 16:51] sguyader commented on #112
Who may help for this issue?

[2017-12-07 07:20] Floessie commented on #113
@Beep6581 @heckflosse Any idea where to look? Could it be some [cancelation problem](https://en.wikipedia.org/wiki/Loss_of_significance) like the one Alberto fixed for Fattal? I'd really like to develop that shot...

Best,
Flössie

[2017-12-07 10:47] heckflosse commented on #113
@Floessie I have an idea where to look. Have to check that. I will tell you later today.

[2017-12-07 11:44] heckflosse commented on #113
@Floessie I would start here : https://github.com/jcelaya/hdrmerge/blob/febf9eeec660ec5ea4b5dd638aacdfc5aa6a131e/Image.cpp#L99

[2017-12-18 14:17] AndriusWild opened #114 "Compile error openSUSE TW - wrong Qt version"
Hello,

I have Qt 5.9.2. When I am trying to compile HDRMerge it tells me Qt 4.x is missing. Do I need to downgrade my Qt in order to compile HDRMerge?

[code]

-- Configuring incomplete, errors occurred!

[2017-12-18 15:22] Beep6581 commented on #114
@AndriusWild no, LHDR requires QT5.
https://discuss.pixls.us/t/compiling-luminance-hdr-in-linux/730

[2017-12-18 15:26] Beep6581 commented on #114
@AndriusWild don't downgrade it, but install Qt4 alongside.

[2017-12-18 15:26] #114 closed

[2018-01-07 16:09] #104 closed

[2018-03-04 07:50] hiro2016 opened #115 "Greate program but identifying dependencies took some time"
I cannot appreciate your work more but maybe you can list dependencies?
Or get the community to do it somehow?

### Dependencies I needed on Ubuntu 16LTS:
[code]
Some might have been unnecessary and I bet I already had some dependencies though.

[2018-03-05 19:20] Beep6581 commented on #108
Fixed in #413bccd

[2018-03-05 19:20] #108 closed

[2018-03-05 19:25] Beep6581 commented on #95
Done in https://github.com/jcelaya/hdrmerge/tree/treeclean#download--installation

[2018-03-05 19:25] #95 closed

[2018-03-05 19:27] Beep6581 commented on #87
@Hombre57 can we close this with your pending commit?

[2018-03-05 19:29] Beep6581 commented on #81
@djotaku when v1.0 is released soon, could you update the RPM and post instructions on how to install it, including how to get your repo?

[2018-03-05 19:29] #63 closed

[2018-03-05 19:31] Beep6581 commented on #56
@phries @benitoite we intend to release a new version soon, and it would be great if you could provide a dev build for testing, and instructions how to compile it in recent macOS versions.

[2018-03-05 19:33] #111 closed

[2018-03-05 19:35] #37 closed

[2018-03-05 19:45] Beep6581 commented on #109
@aferrero2707 as you are the author of `appimage/appimage.sh`, will that script still work, and are there any changes required for having the AppImages appear on the releases page?

[2018-03-05 20:47] carsonaberle opened #116 "Mac Command Line"
I was able to get the hdr merge built from the develop branch on High Sierra 10.13.3 and run a merge on 5 .dng files. The program looks great, but for batch processing I would like to be able to use the command line for this. Is this currently possible, if not, it would be a nice feature.

[2018-03-05 20:51] heckflosse commented on #116
@carsonaberle From [here](https://github.com/jcelaya/hdrmerge/blob/master/README.md)

[code]

[2018-03-05 20:53] probonopd commented on #95
I did not find an AppImage download link at the link given above - am I blind? ;-)

[2018-03-05 20:54] carsonaberle commented on #116
I was able to get the batch mode to work on Ubuntu, but not on Mac. I get the error hdrmerge: Command not found

[2018-03-05 21:00] heckflosse commented on #116
@carsonaberle Sorry, as I don't own a Mac, I'm lost here

[2018-03-05 21:01] Beep6581 commented on #95
Find the latest builds on our releases page.

The AppImage will be there with the next release, if the AppImage script still works.

[2018-03-05 21:06] Beep6581 commented on #116
@carsonaberle provide your full build log and full output when you run HDRMerge from the console.
`cd` to the folder which contains the executable and try:
[code]
or
[code]

[2018-03-05 21:32] carsonaberle commented on #116
It looks like i needed to run it form within the folder that contains the executable. In my case that was `/Applications/hdrmerge.app/Contents/MacOS`

Thank you for your help.

[2018-03-05 22:12] Hombre57 commented on #87
@Beep6581 yes

HDRMerge can be built on Windows with MSYS2 now, but the installer part is not functional yet. I worked on this today but will have to continue tomorrow, it's too late.

[2018-03-06 08:33] Beep6581 commented on #116
I added a note:
https://github.com/jcelaya/hdrmerge/commit/4bd5b4a018153858af7ed5b7f3c24808c1878076

[2018-03-06 08:33] #116 closed

[2018-03-06 13:54] aferrero2707 commented on #109
I will have a look at the script again, to see if it still works. However, I think it would be a good idea to adapt it to use [linuxdeployqt](https://github.com/probonopd/linuxdeployqt).

I'll keep you informed here.

[2018-03-06 14:03] Beep6581 commented on #109
@aferrero2707 please note that I will merge branch `treeclean` into `master` soon.

[2018-03-08 17:48] carsonaberle opened #117 "Sony Harsh Transitions and Low Exposure"
I have seen this issue a few times, but I wanted to update with my latest issue. Below is a link to a HDR image and its inputs. They are taken using a Sony A7sii and show in 14 but uncompressed raw (ARW) format. As you can see the two photos have some pretty harsh transitions around the edges.

If I increase the blur quite a bit on save it helps, but also then introduces noise around the lamp in t

[2018-03-09 01:10] Beep6581 commented on #117
Confirmed in `v0.5.0-50-g`864968c.
Duplicate of #6

[2018-03-09 01:10] #117 closed

[2018-03-10 10:30] krpano opened #118 "Support for Canon EOS 5DS R"
Hi,

first - thanks for this great software! It works some much better then the Lightroom hdr merging!

But recently I have upgraded my camera from a Canon 5Dmk2 to a Canon 5DSR and noticed that the cr2 files from that camera are unfortunately not working anymore with hdrmerge...

There is always the 'Unable to open file' error...

So can you please add support for cr2 files from the 5DSR?

Here s

[2018-03-10 11:42] Beep6581 commented on #118
The Canon EOS 5DS R works fine using the latest `master` branch and lensfun-0.3.2.
https://filebin.net/vhh1hzq6q6zf3z3b

The next release will make use of the latest libraw, which will solve it for you.

[2018-03-10 11:42] #118 closed

[2018-03-11 10:42] Benitoite commented on #56
@Beep6581 https://filebin.net/6q2gbc5wt6jkv52h/HDRMerge-test1.dmg

These steps don't include things like getting Xcode, a MacOS SDK, Qt4, or cmake, etc. Don't have homebrew, nor do I use Xcode extensively, so I did the following to build HDRMerge on the command line:

1a. Dependencies. Get the dependencies which give you these libraries. Some are from MacPorts and some are built from their code re

[2018-03-11 11:17] Beep6581 commented on #56
@Benitoite great, I opened a forum for testing:
https://discuss.pixls.us/t/help-test-the-new-hdrmerge-development-build-for-macos/6936

@Benitoite did you compile using the `master` or the `treeclean` branch?

[2018-03-11 11:24] Benitoite commented on #56
I built the master branch but can try with the other one later today.

[2018-03-11 11:27] Beep6581 commented on #56
@Benitoite I will merge `treeclean` into `master` soon, @Hombre57 is still going to make a commit before I do, so maybe better if you wait for that. I will ping you when it's done.

[2018-03-11 13:06] aferrero2707 commented on #56
I have downloaded the .dmg file, and will start testing it soon...

On a somewhat related note, I have some experience to offer in automating the OSX building/packaging using Travis CI. I have such an automated procedure already set-up and running for [another project](https://github.com/aferrero2707/PhotoFlow/blob/stable/.travis.yml#L192). It is based on homebrew, and the builds can be either tri

[2018-03-11 13:18] #115 closed

[2018-03-11 13:20] Beep6581 commented on #56
@Benitoite @aferrero2707 branch `treeclean` merged into `master`. You can go ahead and test macOS compilation. Feel free to make the required changes to the CMake file, but note that @Hombre57 is also making changes to the Windows sections of that file.

[2018-03-12 12:18] aferrero2707 commented on #109
I have just created a new AppImage for testing, using linuxdeployqt. The package is available [here](https://transfer.sh/139R0A/hdrmerge-2559148-x86_64.AppImage).

@Beep6581 @jcelaya @probonopd - would you be able to test it and provide me some feedback?
It seems to run fine on Ubuntu 17.04.

[2018-03-12 14:05] Beep6581 commented on #109
@aferrero2707
[code]

[code]

[2018-03-12 14:10] aferrero2707 commented on #109
@probonopd - any suggestion on how to debug the segfault reported by @Beep6581?
I do not have experience with linuxdeployqt, and how to eventually turn on verbose execution...

[2018-03-12 19:22] Benitoite commented on #56
@Beep6581 MacOS build commands and CMakeLists.txt changes above updated.

[2018-03-13 21:26] probonopd commented on #109
Looks like that this means that `libthread_db.so.1` does not match `libpthread.so.0`. Please do _not_ bundle either one.

[2018-03-14 08:28] aferrero2707 commented on #109
@probonopd - there is no `libpthread.so.*` library in the bundle:

[code]

The appimage package is generated with linuxdeployqt, so it should automatically take into account the recommended `excludelist`, right?

[2018-03-14 08:44] Beep6581 commented on #109
@aferrero2707
[code]

[2018-03-14 17:12] #112 closed

[2018-03-14 18:49] sguyader commented on #112
Thank you very much Ingo for fixing the issue, and giving the background!

[2018-03-14 22:21] paperdigits opened #122 "Can't build QT5 branch on KDE neon"
the git tag is `v0.5.0-62-g7ad52cd`

`cmake version 3.5.1`

Using the latest kde/plasma 5 libraries

[code]

[2018-03-15 01:06] heckflosse commented on #112
@sguyader De rien.

[2018-03-15 01:25] Beep6581 opened #123 "Migrate to Qt5"
I migrated HDRMerge to Qt5 in the `qt5` branch.
Compilation status:
- [x] Linux
- [x] Windows
- [x] macOS

@Hombre57 @Benitoite would be great if you could update the CMake file so that it compiles in Windows and macOS.

You can compare changes between the `qt5` branch and `master` to get an idea of what changed and what changes you may need to make to the appropriate sections:
https://github.com/

[2018-03-15 01:28] Beep6581 commented on #122
Fixed in 35eb7c5c6c21d7015a22be24de6d7b8cd7eda6a5
See #123

[2018-03-15 01:28] #122 closed

[2018-03-15 10:41] Benitoite commented on #123
@Beep6581 CMakeLists.txt and test/CMakeLists.txt for mac build updates proposed: PR https://github.com/jcelaya/hdrmerge/pull/124

Mac build instructions are updated for branch qt5: https://github.com/jcelaya/hdrmerge/issues/56#issuecomment-372105553

One thing I noticed was the images/ (contains the mac bundle icon) is not present in this branch.

[2018-03-15 11:13] Beep6581 commented on #123
@Benitoite `images` is moved to `data\images`
https://github.com/jcelaya/hdrmerge/tree/qt5/data/images

[2018-03-15 11:24] Benitoite commented on #123
@Beep6581 Thanks, updated. 😁

[2018-03-16 17:18] nongrata23 opened #125 "MacOS, how to batch in command line"
Hello, first of all i am very happy that i found this software..
I have a challange if you can please provice me a workflow to undestand better how to do batch mode in command line,

i mean were should i put the files, also how to the command line would look? i understoot that the separation is made by time btw images.

because this is not enough ./hdrmerge -B, i did try with others but i m new to

[2018-03-16 18:07] Beep6581 commented on #125
@nongrata23 upload a few sample images using https://filebin.net/

[2018-03-17 06:52] nongrata23 commented on #125
Hello, for example those files....

https://filebin.net/h4zvint6jim1wl4c

Thank you

[2018-03-17 16:17] Beep6581 commented on #125
@nongrata23 here's an example. I compiled HDRMerge into `~/programs/hdrmerge` though if you installed it system-wide you don't need to specify the path. I recommend setting the output file to 16-bit with a half-sized preview, as is the case in this example. You can also remove the `--no-align --no-crop` part.
[code]

[2018-03-17 16:55] nongrata23 commented on #125
Thank you so much is working!

[2018-03-17 16:55] #125 closed

[2018-03-21 08:35] cribari commented on #112
I believe this is related to the following Darktable bug: https://redmine.darktable.org/issues/11340

[2018-03-21 20:31] Floessie opened #126 "Wrong computed `satThreshold`"
Hi,

with my new camera (Canon 6D) I sometimes have an issue with HDRMerge: The mask is solid green (brightest image). This seems to be due to the value fed to `Image::isSaturated()` via `Image::isSaturatedAround()` either being too low or the computed `satThreshold` too high. The max value fed to `Image::isSaturated()` was 13314, the computed `satThreshold` 13556.

If I set the custom WB to 13314

[2018-03-22 00:17] heckflosse commented on #126
@Floessie Does 13443 (15490 - 2047) also work?

[2018-03-22 07:24] Floessie commented on #126
@heckflosse No. [Why should it?](https://github.com/jcelaya/hdrmerge/blob/master/src/Image.hpp#L57)

You can find the files [here](https://filebin.net/xwm5uwsvvga8emdc). Those are crap handheld shots, but expose the problem well.

Thanks for looking into it.

Best,
Flössie

[2018-03-22 13:12] Floessie commented on #126
Ingo, I've come to the conclusion, that `ImageStack::calculateSaturationLevel()` computes the right value. There seem to be some outliers (single digit number in the histogram) on every channel (stuck pixels?) which are taken into account, while the majority clips at 13314 or 13313. The latter you can also see in "No demosaic" mode in RT. Is there something wrong with my camera?

Here's a patch th

[2018-03-22 20:35] heckflosse commented on #126
@Floessie According to your measures the whitelevel doesn't fit to the white level in rt camconst.json
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L517

For ISO 400 it should be 15180 while the one you measured is 13314  which matches the wl (13100) in camconst.json reported for 160, 320, 640, 1250, 2500 much better.

???
Maybe ping Ilias?

[2018-03-23 08:53] Floessie commented on #126
@heckflosse I'm still puzzled as to why this relates to `camconst.json`. Does HDRMerge use that data, too? When using Amaze in RT and the Neutral profile, the sky is perfectly clipped (RGB 255). Without demosaicing it shows 13314 for one of RGB.

@iliasg I'm lost here. I suspect, that some setting on my new camera is wrong, but it could as well be something more serious. Could you give me a clue w

[2018-03-23 10:05] Beep6581 commented on #126
Here are histograms from RawDigger for `20180320-183828-1.cr2` with and without black level subtraction:
[20180320-183828-1-rawdata with black subtraction.csv.txt](https://github.com/jcelaya/hdrmerge/files/1841057/20180320-183828-1-rawdata.with.black.subtraction.csv.txt)
[20180320-183828-1-rawdata no black subtraction.csv.txt](https://github.com/jcelaya/hdrmerge/files/1841058/20180320-183828-1-raw

[2018-03-23 14:29] iliasg commented on #126
@Floessie I'll digg in in a while ..

[2018-03-23 16:28] Floessie commented on #126
@iliasg Ilias, thanks. Until then, I can live with my patch. Morgan's LibRaw link seems indeed relevant.

[2018-03-23 17:12] iliasg commented on #126
@Floessie
Your 6D looks perfectly normal ..
The ISO400 WhiteLevel at normal situations is 15283 (before BlackLevel subtraction) but with wide apperture settings, Canon operates a digital scaling so for f3.2 it's 15361 (see comment in camconst.json)
https://github.com/Beep6581/RawTherapee/blob/806e1b32bb2e108abd32b448f664b341184f884f/rtengine/camconst.json#L511

It's common that these WhiteLevel va

[2018-03-23 19:48] Beep6581 commented on #126
@iliasg you wrote,

While @LibRaw wrote,

Since the brightest pixel value cannot be trusted to be a safe data maximum, if we were to use LibRaw I suppose this means the white level detection should somehow know how to find the "real, safe" white, to ignore the outliers. Is that correct? If so, how? Do you just discard the top 1% or is there a better or standard way? Short of having humans do the m

[2018-03-23 22:05] iliasg commented on #126
@Beep6581
As you saw .. I used the histogram ;) .. I don't know any other reliable way ..
Here we had less than 0.01% outliers .. but I guess if we know that we have a shot with alot of clipping the real clipping value is the one  with the most population in the histogram ..

The safety of this detection for abnormal cases (LENR or some raws where there is no clippin) is variable

- Panasonic low

[2018-03-23 23:26] Beep6581 commented on #126
@iliasg well I had RT in mind considering we need to adopt LibrRaw or RawSpeed, but also just the general problem of detecting a safe white level automatically on a per-image basis, considering some images could have clipping, some not, some could have special types of pixels (e.g. Sony), some not.

[2018-03-23 23:49] heckflosse commented on #126
@Floessie @Beep6581 @iliasg

integrating hdrmerge into rt would solve this issue for us. That would also allow raw ca correction and so in prior to merge.

Should we try to do this for rt 5.6?

[2018-03-23 23:58] Beep6581 commented on #126
That would be nice, but I would prioritize the pipeline unification, adopting Exiv2 and supplementing dcraw with one of the other options (in my mind, all three are critical). Besides, integrating HDRMerge in RT would require being able to paint a mask, and I don't think that will happen before the pipeline unification.

[2018-03-24 07:30] LibRaw commented on #126
Starting from LibRaw 0.18,  LibRaw library provides imgdata.color.linear_max[4] values based on camera metadata.
It is not available for all vendors, but many vendors provide this data.

[2018-03-24 08:21] Floessie commented on #126
@iliasg

Phew! That's to me the most important outcome of this discussion. :relieved:

That's not something we can do overnight (except for Alberto, perhaps).

@heckflosse

I use HDRMerge to archive my bracketed shots. Furthermore the batch mode is handy. How would one integrate that into RT?

@iliasg

Here we had less than 0.01% outliers .. but I guess if we know that we have a shot with alot of

[2018-03-24 16:20] Hombre57 commented on #87
@jcelaya @heckflosse @Beep6581 I'd like to solve the build & setup process but would need some time. I've a patch ready to be committed that convert `/` by `\` for `PROJECT_SOURCE_DIR` in `setup.nsi` (in a spearate branch).

Should I clone hdrmerge and submit a PR or is it possible to have commit rights ? (I'm asking here because I didn't found a link for private message on GitHub)

[2018-03-24 17:50] Hombre57 commented on #87
I just opened PR #127 .

[2018-03-24 17:54] Beep6581 commented on #87
@Hombre57 only @jcelaya can grant you commit rights.

[2018-03-25 21:15] Hombre57 commented on #87
Can someone explain me why `QtCore4` and `QtGui4` are dynamically linked to hdrmerge.exe given that content of `CMakeFiles\hdrmerge.dir\linklibs.rsp` (generated by cmake) :

`-s -Wl,-Bstatic -lraw_r -lQtGui4 -lQtCore4 -Wl,-Bdynamic -lexiv2 -ljasper -Wl,-Bstatic -ljpeg -lz -ljpeg -llcms2 -lexpat -lintl -liconv -Wl,-Bdynamic -lpsapi -lwsock32 -limm32 -lwinmm -Wl,-Bstatic -lz -llcms2 -lexpat -lintl -

[2018-03-25 21:33] Beep6581 commented on #87
@Hombre57 Qt4 is deprecated, better to focus on the Qt5 branch:
https://github.com/jcelaya/hdrmerge/tree/qt5

[2018-03-25 22:01] Hombre57 commented on #87
@Beep6581 Is it planned to merge the Qt5 branch before the next release ?

[2018-03-26 20:50] Hombre57 commented on #123
@jcelaya @Beep6581 See PR #128 for building on Windows. Now this is the good one !

There's still a problem when starting HDRMerge on Windows (don't know for others platform) : the "Open raw images" window size is something like 80x40px at first, you have to resize it.

Moreover it is not themed :disappointed:

![non-themed hdrmerge - win64](https://user-images.githubusercontent.com/13788115/37931

[2018-03-27 19:29] Beep6581 commented on #123
HDRMerge `master` branch now requires Qt5.

[2018-03-27 19:29] #123 closed

[2018-03-27 19:29] Beep6581 commented on #87
Issue made obsolete by #123

[2018-03-27 19:29] #87 closed

[2018-04-03 10:05] aferrero2707 commented on #109
I have prepared a new version of the AppImage, which seems to at least fix the issues reported by @Beep6581.
The new package can be downloaded from here: https://github.com/aferrero2707/hdrmerge-appimage/releases/tag/continuous

[2018-04-03 11:14] Beep6581 commented on #109
@aferrero2707 how do we proceed to make this AppImage official, automated and public?

[2018-04-03 11:30] aferrero2707 commented on #109
@Beep6581
Automated: I plan to follow the same approach as for RawTherapee, i.e. a Travis cron job that runs daily and than compares the hash of the current git HEAD against the one of the last packaged version. If they do not match, a new package is prepared and uploaded... what do you think?

Official and public: I would say that this is up to you hdrmerge developers to decide how and when to ma

[2018-04-03 11:43] Beep6581 commented on #109
@aferrero2707 "automated" sounds good.
"Official and public", the packages should appear in this project in the "releases" page, so what do I need to do to facilitate that? If you make a PR I can merge that, but if you need more access then @jcelaya would need to add you as a contributor.

[2018-04-04 17:13] aferrero2707 commented on #109
@Beep6581 @jcelaya - which release folder would you like to use to keep those daily snapshots?

In order to upload the packages, I most lilely only need a [valid access token](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/) and the name of the release tag (I'm using `continuous` for other projects). However, I am not sure wether I need to be a contributor o

[2018-04-04 20:31] aferrero2707 commented on #109
@Beep6581 - sure! For example, the latest release is here: https://github.com/jcelaya/hdrmerge/releases/tag/v0.5.0
It is tagged as `v0.5.0`, and each release tag has its own page (what I called "folder") where you can put a description and any number of artefacts, like the release tarballs or binary packages.

Where should we put the daily appimages?

[2018-04-04 20:35] Beep6581 commented on #109
@aferrero2707 I'm still not sure what possible answers there are to "where", but using the word "nightly" sounds appropriate.

[2018-04-04 20:40] aferrero2707 commented on #109
@Beep6581 it could be as simple as having a `https://github.com/jcelaya/hdrmerge/releases/tag/nightly`
release where new packages are stored whenever new commits are pushed to the master branch.

Sounds reasonable?

[2018-04-04 20:57] Beep6581 commented on #109
@aferrero2707 yes!

[2018-04-05 17:19] aferrero2707 commented on #109
@jcelaya @Beep6581 for the moment I have copied the existing AppImage packages manually into a [new "Nightly builds" release](https://github.com/jcelaya/hdrmerge/releases/tag/nightly). This will be automated whenever @jcelaya can provide a github token.

[2018-04-05 19:01] aferrero2707 commented on #109
@jcelaya works perfectly! The nightly AppImage packages are now up and running...

[2018-04-08 01:31] enzyme69 opened #130 "Not compatible with anything?"
I produce the DNG by merging a couple of DNG RAW photos taken using iPhone. Once it merged, I cannot actually open the file in Apple Photos, LuminanceHDR, etc.

Is there something that I did wrong? Like when exporting in 16, 24, 32, none seems to work either.

[2018-04-08 17:08] Beep6581 commented on #130
Use a program which is capable of reading floating-point DNG files, such as RawTherapee.

[2018-04-08 17:08] #130 closed

[2018-04-30 14:31] Hombre57 opened #133 "Crash when using the Ctrl modifier key while panning"
To reproduce :
- start panning the image around and keep left button pressed
- press the Ctrl key, the brush is now displayed, which should not happen (left button still pressed)
- move the cursor, hdrmerge crash

I can see that holding Ctrl key pressed whil in Painting mode switch from Add to Remove, and vice versa. However I fell to find where in the code does the Ctrl key is handled, so that it

[2018-04-30 15:37] Floessie commented on #113
@heckflosse The problem is the darkest image.

[code]

With the whole set I get:
[code]
And most of the resulting image is black. Without  `20170724-230458.cr2`, everything is fine:
[code]

I tried this and that inside `computeResponseFunction()`, understanding the code only fragmentally, but without success.

[2018-04-30 16:08] Floessie commented on #133
Could it be `PreviewWidget::setShowBrush()` via `MainWindow::createActions()`?

[2018-04-30 17:15] Hombre57 commented on #133
@Floessie I don't see in `MainWindow::createActions` anything saying that the action should be triggered when pressing the `Ctrl` key, or I really don't understand how Qt works (which is the case anyway :) ).

[2018-04-30 19:26] Floessie commented on #133
@Hombre57 As far as I can see, `(add|rm)GhostAction` is also triggered from `MainWindow::setToolFromKey()`, and there you have the modifiers...

[2018-05-01 10:46] Hombre57 opened #135 "Open and Save dialogs have no sidebar URLs"
As you can see below, there's no side URLs in the Open and Save dialog. Even if you disable the code that adds an entry to this list, it's still empty.

![hdrm-no-side-urls](https://user-images.githubusercontent.com/13788115/39470118-2994a97a-4d3c-11e8-8e35-13f5ffce362f.png)

@heckflosse Do you confirm on your side ? @Beep6581 is it the same on Linux ?

[2018-05-01 11:50] Beep6581 commented on #133
Confirmed.

[2018-05-01 11:58] Floessie commented on #135
@Hombre57 Same on Debian 9.4 (XFCE).

[2018-05-01 12:01] Beep6581 commented on #133
`continuous-5-g`00bda2f

[code]

[2018-05-01 12:08] Beep6581 commented on #135
Same in Sabayon, `continuous-5-g`00bda2f.

[2018-05-01 12:43] Beep6581 commented on #135
QT4 load:
![imgur-2018_05_01-14 40 28](https://user-images.githubusercontent.com/5844619/39473222-056ae9ee-4d4e-11e8-9b47-6e9a7fa5c1f7.png)

QT4 save:
![imgur-2018_05_01-14 40 53](https://user-images.githubusercontent.com/5844619/39473227-0a325f02-4d4e-11e8-92b6-48019105e8bd.png)

[2018-05-01 12:55] Beep6581 commented on #135
http://doc.qt.io/qt-5/qfiledialog.html#getOpenFileNames
http://doc.qt.io/qt-5/qfiledialog.html#Option-enum

[code]

![imgur-2018_05_01-14 52 36](https://user-images.githubusercontent.com/5844619/39473551-ae24a16e-4d4f-11e8-9b23-8ffc839cc2e5.png)

[2018-05-01 15:17] heckflosse commented on #135
@Hombre57

I never built hdrmerge on windows

[2018-05-01 22:25] Hombre57 commented on #133
@Beep6581 Fix is in PR #136

@Floessie How to miss the elephant in the room... Thanks for pointing me to that function.

[2018-05-01 22:38] Hombre57 commented on #133
I closed PR #136, since it prevented to use the **add** and **remove** tool while in **panning** mode (not only **when** panning), which was the initial intention I guess. I'll look for a better fix tomorrow (too late now).

[2018-05-02 10:42] heckflosse opened #137 "Add support for Pentax HDR raw files with 3 frames"
First patch.

Raw file for test can be downloaded [here](http://www.pfpho.com/k1/samplephotos/IMGP0504.DNG)

@Hombre57 please test :grin:

[code]

[2018-05-02 15:47] #137 closed

[2018-05-02 16:13] Hombre57 commented on #137
- Eclipse ..... OK
- Gcc .... OK
- Crispy Chips ... OK
- Ready to start building ?
- ... Roger!

[2018-05-02 16:31] Hombre57 commented on #137
@heckflosse  Works nice ! That's a great improvement :+1: :1st_place_medal:

[2018-05-02 16:34] Hombre57 commented on #137
Would it be possible to change the label on the second window (added files) to explain there's 3 frames in the DNG file ? (but it's already good as is)

[2018-05-02 17:42] heckflosse commented on #137
@Hombre57 Thanks for testing :+1:

[2018-05-02 18:42] #133 closed

[2018-05-03 15:00] Sandros94 opened #140 "Panasonic DC-GH5"
GH5 not supported, the final merge get a magenta tint, but not when I convert the RW2 file to dngs and then merge them.

[2018-05-03 15:31] Beep6581 commented on #140
bbf8de6/libraw-0.18.8 seems to work fine using https://raw.pixls.us/getfile.php/1517/nice/Panasonic%20-%20DC-GH5%20-%204:3.RW2

[2018-05-03 15:32] #140 closed

[2018-05-04 20:20] Hombre57 opened #143 "Output buffer is cached when starting HDRMerge with MSYS2 console"
The effect is that you don't have live output, the std::out is only updated when the buffer is full.

[2018-05-04 20:57] Hombre57 commented on #143
Problems occurs only when the message is not ended by `std::endl`. Closing.

[2018-05-04 20:57] #143 closed

[2018-05-06 20:41] Beep6581 opened #144 "SONY ILCE-7M2 DNGs converted from ARW using Adobe DNG coverter have wrong mask and magenta colors"
81a6af5 using libraw-0.18.8
I converted my SONY ILCE-7M2 ARW files to DNG using Adobe DNG Converter 10.3.
Upon merging, the preview's mask looks incorrect, the saved mask looks incorrect, and both the embedded JPEG and the raw file have a strong magenta cast.

Source files + HDR DNG + mask:
https://filebin.net/337wfzcmq6vf3g16

I will measure the source DNG file's white levels in a moment.

[2018-05-06 21:04] Beep6581 commented on #144
I measured that the ARWs converted to DNG have WL=15864 BL=512

Metadata from one of the source DNGs:
[code]

IIRC I used a custom white level of 15780 for ARW files. Using @floessie's patch in #134 I could disable the custom white level and still get correct colors with ARWs, however if I first convert the ARWs to DNG, the result is all magenta and with a wrong mask. I tested with and without @fl

[2018-05-06 22:42] heckflosse commented on #144
Issue confirmed

[2018-05-07 06:52] Beep6581 commented on #144
Another sample set, both ARW and DNG:
https://filebin.net/vcb7ugr39n3jngoy

ARW=DNG BL=512 WL=15864 (after BL subtraction)

[2018-05-07 06:53] Beep6581 commented on #144
Thank you for taking this issue @heckflosse

[2018-05-07 13:38] #144 closed

[2018-05-08 05:53] Floessie commented on #126
Fixed in #134. Closing.

[2018-05-30 21:31] nongrata23 opened #146 "Allow to specify the number of bracketed photos per set"
Hello, is it possible to set by command the number of brakets instead exif time, because i am using a mobile and the exif is wrong... so i cannot batch

any ideeas?

thank you

[2018-05-31 06:55] nongrata23 commented on #146
i found a temporary solution to manually fix the exif in the files, i can edit the exif date with xmpview, and i made a macro for each 3 sets to have a close time and a 5seconds gap... still would be nice the option to set the number of brakets..

Thanks best software

[2018-06-08 13:16] heckflosse commented on #126
@Floessie Repoened because I found a bug:
Merging the raw files from https://discuss.pixls.us/t/play-raw-warning-baroque-can-harm-your-eyes/7922
only the darkest will be used.

[2018-06-08 14:17] heckflosse commented on #126
@Floessie
Using the max instead of the min fixes the issue. Please test also with your stack.

[code]

[2018-06-08 18:46] heckflosse commented on #126
@Floessie I already commited my patch. Please test nevertheless with your stack

[2018-06-09 08:53] gaaned92 commented on #135
@Beep6581
 Thanks for the patch

![screen-2018-06-09_10-49-52](https://user-images.githubusercontent.com/13785581/41189751-feccb696-6bd2-11e8-8b2b-669fe30cd535.jpg)

uploaded at
https://keybase.pub/gaaned92/LHDR64/

[2018-06-11 08:09] Floessie commented on #126
@heckflosse I'll test it later this week. Was this a bug, I accidentally introduced? If so: Sorry!

[2018-06-11 20:45] heckflosse commented on #126
@Floessie The bug was introduced by your pr. But no need to apologize. I also did not detect it in my tests ;-)

[2018-06-12 18:08] Beep6581 commented on #135
@Hombre57 do you remember what was the issue with the patch above?

[2018-06-13 21:48] Hombre57 commented on #135
@Beep6581 IIRC, on Win7, clicking on "Open" didn't closed the file selector. I've updated my MSYS2 toolchain, and it works fine now, though we end up with Windows' file selector, where we can't add entry in the url side bar. :+1:  to commit

[2018-06-14 11:04] Beep6581 commented on #135
Hopefully someone who knows Qt comes along and helps out.
https://discuss.pixls.us/t/do-you-know-your-way-around-qt-help-needed/8027

[2018-06-14 19:31] gaaned92 commented on #135
@Hombre57  could you explain please what you mean by

 `though we end up with Windows' file selector, where we can't add entry in the url side bar.`
 as I don't notice something missing for windows10?

[2018-06-14 19:35] Beep6581 commented on #135
@gaaned92 for example we can't add the current photo's folder to the sidebar when using the save dialog.

[2018-06-14 20:29] Beep6581 commented on #135
@Hombre57 @Floessie could you try this patch on top of latest master?
[code]
Create a HDR DNG using raw files from an unusual location, like `~/foo/bar<1-3>.raw` or `c:\not my documents\potatos\bar<1-3>.raw`
Ctrl+s to save, and see if `~/foo/` or `c:\not my documents\potatos\` are in the sidebar.

[2018-06-14 21:12] gaaned92 commented on #135
Create a HDR DNG using raw files from an unusual location, like ~/foo/bar<1-3>.raw or c:\not my documents\potatos\bar<1-3>.raw
Ctrl+s to save, and see if ~/foo/ or c:\not my documents\potatos\ are in the sidebar.

[2018-06-14 22:27] Beep6581 commented on #135
Both suite my needs so I don't really have a favorite, but if I had to choose I'd vote for non-native, where the source folder appears at the top.

[2018-06-15 08:40] gaaned92 commented on #135
@Beep6581 on W10
- Master branch
see my post above.
 When saving , the folder used for opening raws is indicated by default. You can create new folder. OK for me
- qfiledialog-not native.
As you described above. I don't have standard locations for photos as they are dispatched in specific folders. So I think it's less interesting than Master

So I vote for Master branch
Thank you for improvment.

[2018-06-15 09:49] Beep6581 commented on #135
@gaaned92 @Hombre57 and others, when testing, please show a screenshot of the Save window as it looks like when using `master` or `qfiledialog-notnative`, and state your OS (and window manager if Linux).
When using master, make sure you're on commit ba22dc8 (or newer).
Make sure that your source photos are in a non-standard location, for example create c:\blah and put the source photos into that.

[2018-06-15 18:52] Hombre57 commented on #135
@Beep6581 After some search in the doc and on the web, I think it's normal that the side bar urls is empty. It's its default state. I'm making a patch to add standard urls. Will come back shortly...

[2018-06-18 05:40] Floessie commented on #126
@heckflosse

Ingo, I must be missing something. The minimum of `maxPerColor[]` has [always](https://github.com/jcelaya/hdrmerge/blob/37bbc346b0fffc566ccb4bd1d8f2d9615dc9e7c4/src/ImageStack.cpp#L65) been picked, and my PR [didn't change](https://github.com/jcelaya/hdrmerge/blob/d2efefdc31e16d455dbb4202d746945f429ed54b/src/ImageStack.cpp#L108) that.

Best,
Flössie

[2018-06-18 09:02] Beep6581 opened #148 "Tooltips should appear over all image icons and show the image filename"
The colored square image icons in the toolbar have tooltips which show the EV value. The tooltip does not appear for the darkest image - it is implied that it's 0EV, but in my opinion it should explicitly show that.
Furthermore, it would be useful if the tooltips showed the filename of the image they apply to.

[2018-06-18 10:49] Floessie commented on #126
@heckflosse Aha, I see: The old values were better balanced, thus the minimum was fine. Now we pick lower values and don't want to settle on the lowest. :+1:

[2018-06-18 13:45] Beep6581 commented on #148
And here I thought I was going to have to spend months plowing through fields of fire and thorns to figure out how to implement this myself, when a gift falls from the heavens... :)
I will test after work!

[2018-06-18 13:55] Floessie commented on #148
Small gifts preserve friendships. :smile:

[2018-06-18 14:16] heckflosse commented on #126
@Floessie Can we close the issue?

[2018-06-18 16:57] Beep6581 commented on #148
@Floessie it works very well, +1 for commit/PR :)

[2018-06-18 19:07] Floessie commented on #148
@Beep6581 Your wish is my command. :wink:

[2018-06-18 19:08] Floessie commented on #126
@heckflosse Yes We Can!

[2018-06-18 20:33] Beep6581 commented on #148
12 hours - what a life! ;)

[2018-06-18 20:33] #148 closed

[2018-06-19 07:12] Beep6581 opened #150 "Roadmap for v1.0"
It's time we made a new stable release.

@heckflosse @Hombre57 @Floessie please tag issues you'd like included in the next release with the [v1.0](https://github.com/jcelaya/hdrmerge/milestone/3) milestone.

[2018-06-19 07:17] Beep6581 commented on #6
The links have expired, the issues are mostly fixed, and the code changed significantly since 2015.
Closing.

[2018-06-19 07:17] #6 closed

[2018-06-19 07:21] Beep6581 commented on #113
@Floessie is this still reproducible?

[2018-06-19 07:22] #109 closed

[2018-06-19 07:23] #107 closed

[2018-06-19 07:29] Beep6581 commented on #83
Handled in #135

[2018-06-19 07:29] #83 closed

[2018-06-19 07:30] Beep6581 commented on #81
@djotaku is your RPM maintained?
https://copr.fedorainfracloud.org/coprs/djotaku/hdrmerge/
[code]

[2018-06-19 07:32] #62 closed

[2018-06-19 07:32] Beep6581 commented on #56
@Benitoite to prepare for release v1.0, are the macOS build instructions still valid?

[2018-06-19 07:36] #38 closed

[2018-06-19 13:07] #135 closed

[2018-06-19 13:09] Beep6581 commented on #135
The current implementation adds the following URLs to the sidebar which should not be there (tested in Sabayon):
* run
* boot
* efi
* 1000

If anyone knows how to fix that, a patch would be welcome.

[2018-06-19 13:42] Beep6581 opened #151 "Corrupt result merging Pentax K10D PEFs"
I'm quite sure these images were easily mergeable in the past, but now the result has vertical striped artifacts.

http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_1.pef
http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_2.pef
http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_3.pef

![screenshot_20180619_153850](https://user-images.githubusercontent.com/58

[2018-06-19 13:49] heckflosse commented on #151
Confirmed

[2018-06-19 13:50] heckflosse commented on #126
Reopened because it's still buggy...

[2018-06-19 14:02] Beep6581 commented on #126
Still buggy = #151

[2018-06-19 14:48] Hombre57 commented on #135
@Beep6581 By looking at the mount list you pasted on IRC, `efi` seem to be your Windows partition and `1000` your temp mount.

[2018-06-19 15:00] heckflosse commented on #126
@Floessie I would like to revert this, because it introcuded more bugs than it fixed. We can let the issue open and start from scratch. What do you think?

[2018-06-19 15:17] Beep6581 commented on #135
@Hombre57 yes,
* `efi` seems to be the Windows bootloader (the folder is owned by root and its `rwx------` so only root can list contents),
* `1000` is a tmpfs but different to `/tmp`, owned by me,
* `boot` and `run` are owned by root but anyone can look inside but not write.
and none of those locations folders appear in any other program.

I also noticed that custom sidebar locations are not save

[2018-06-19 20:00] Benitoite commented on #56
@Beep6581 https://github.com/jcelaya/hdrmerge/pull/152 Just had to update CMakeLists.txt to point to the icon in data/images.  Updated instructions above for Qt 5.11.0.

[2018-06-20 05:45] Floessie commented on #126
@heckflosse I don't mind. It fixes the problems I had, so I'll just keep on using my branch.

There must have been something odd with the calculation of `satThreshold` in the first place. My change might have been too simple to be true...

[2018-06-20 05:48] Floessie commented on #113
@Beep6581 Last time I checked, it was still reproducible and there were no changes concerning `computeResponseFunction()`. I can reevaluate, though (if I can find the stack in question again).

[2018-06-20 07:42] Floessie commented on #126
@heckflosse Here's a fix:

[code]

Explanation: I originally removed the safety margin (`*= .99`), 'cause I deemed it no longer important. Now after bisecting and printing the values I figured out, the only difference in the resulting `satThreshold` was this multiplication.

HTH,
Flössie

[2018-06-20 09:48] Beep6581 commented on #126
@Floessie using your patch I can now successfully generate HDR DNGs from the Pentax K10D shots as well as from my Sony ILCE-7M2 shots without needing to manually set a custom white level.

[2018-06-20 10:55] heckflosse commented on #126
@Floessie
This is the log from merging 3 files from @Beep6581 using your latest patch. Because white level is very low (403) only the darkest image is used.
[code]

Using this patch
[code]

it works fine:
[code]

[2018-06-20 11:14] Floessie commented on #126
@heckflosse Using 0.01% instead of 0.1% as a threshold should still be fine with my initial stack. :+1:

[2018-06-20 12:01] #126 closed

[2018-06-20 12:04] Beep6581 commented on #126
:open_mouth:

The mask looked good, it used all source images, but I didn't examine the HDR DNG in RT to see whether the noise matched the mask...

[2018-06-20 12:16] heckflosse commented on #126
@Beep6581

This is the mask with 0.1% threshold. Looks not good imho

![grafik](https://user-images.githubusercontent.com/13733487/41657589-262806e0-7494-11e8-91a7-8cdaac356e9a.png)

And now with 0.01% threshold

![grafik](https://user-images.githubusercontent.com/13733487/41657664-6125f3c4-7494-11e8-9033-15a68a63e7fe.png)

[2018-06-20 12:27] Beep6581 commented on #126
That first screenshot certainly looks bad, but it doesn't look like my image set.
Using only @Floessie 's [patch](https://github.com/jcelaya/hdrmerge/issues/126#issuecomment-398655535) the mask in my images looks good:
![screenshot_20180620_142105](https://user-images.githubusercontent.com/5844619/41658006-672d3d44-7495-11e8-8b9a-a041813958b2.png)

I tested again using 148c8e0 and it still looks g

[2018-06-21 17:48] Floessie commented on #113
@Beep6581 Problem still exists. Range is 0, 4, 6, 8, ..., 16 EV.

[2018-06-25 05:40] Floessie commented on #151
Should be fixed with b3ba8209d3bb78b76a2221d0164a702056efa8a5.

[2018-06-25 06:35] Beep6581 commented on #151
Confirmed.

[2018-06-25 06:35] #151 closed

[2018-06-25 14:46] dannephoto commented on #56
Hi. I tried compiling form time to time but have not been successful until now. Following phries but mostly Benitoite I used the steps to build an automator application dedicated for compilation on mac.
https://bitbucket.org/Dannephoto/hdrmerge_compiler
![screen shot 2018-06-25 at 15 58 19 png_500px](https://user-images.githubusercontent.com/22038358/41856684-fda4c4f0-7895-11e8-9dbf-aeffc0098b80.j

[2018-06-25 16:40] Benitoite commented on #56
@dannephoto Don't hesitate to ask if you have any other issues compiling.
 The warning regarding alglib wanting libraries is ignorable, as binaries are compiled during the `make`.
The `not needed?` commands might indeed be redundant for brew users, but from an installation of qt from the qt.io installer cmake seems to need the pointing there.
Also, if compiling for self use, you can leave out the

[2018-06-25 17:10] dannephoto commented on #56
Thanks. Mainly for my own amusement :).
Quite some learning experience getting this going actually but important since it's such a nice tool.

[2018-06-26 06:51] dannephoto commented on #56
@Benitoite
One issue which made me exclude the SYSROOT part was this:
[code]
Related to version being MacOSX10.12.sdk?

[2018-06-26 09:20] Benitoite commented on #56
Yes I’ve seen this issue with Xcode 9.2’s ‘ld’ - someone was trying to compile rawtherapee and got the same ‘!tapi’ error.  They figured it out to the exact command in your solution and thought that ought to be in the compilation instructions; will have to incorporate the command in HDRMerge instructions.

[2018-06-26 10:04] Floessie commented on #150
It would be cool to reach out for Philip (@innir) so that HDRMerge v1.0 could make it into Debian 10...

Don't know if I'm allowed to tag here, but I'd really like so see #113 solved (if that's possible at all).

[2018-06-26 10:17] Beep6581 commented on #150
@Floessie I tagged it.
@Floessie @innir what are the requirements to make it into Debian 10?

[2018-06-26 12:47] dannephoto commented on #56
Tested on a vanilla mac(missing pkgconfig). For completeness:
#pkgconfig
if ! [ -d /usr/local/Cellar/pkg-config ]; then
brew install pkg-config
fi

[2018-06-26 17:07] innir commented on #150
If you want to get hdrmerge into Debian you need to find someone who packages it (or do it yourself). I fear I'm not the right person, I'm absolutely not into the HDR business and didn't even know about hdrmerge until now.
So, you should probably file a [Request for Package](https://wiki.debian.org/RFP) and see if someone is interested.

What you probably also want to do are signed releases: https

[2018-06-27 06:40] diravan opened #154 "Broken link"
Sorry If I report here but I do not know where else to do it. On the website the link on the main page "Discover more about HDRMerge" is broken. It points to https://jcelaya.github.io/documentation/2014/05/24/what-is-hdrmerge.html but I get a 404.

Thanks for what looks like a really interesting piece of software

[2018-07-02 21:42] Beep6581 opened #155 "Zoom out the preview"
Would be really nice if the preview could be zoomed, at least to 50% and 25% to make masking large areas easy.

[2018-07-20 23:36] noushdr opened #157 "Bayer drizzle [feature request]"
Hi,
Thought [this](https://www.magiclantern.fm/forum/index.php?topic=22564.msg204336;topicseen#msg204336) idea would be of interest for HDRMerge community. It seems to be called "Bayer drizzle", and was implemented by ~~Dave Coffin~~  Andrew Fruchter and Richard Hook (seems to be working on [DeepSkyStacker](http://deepskystacker.free.fr/english/technical.htm#rawdecod)). The idea is that, since you

[2018-07-21 02:31] noushdr commented on #157
Found this implementation with permisive license (uses C and Python):
https://github.com/spacetelescope/drizzle

[2018-07-21 13:32] Beep6581 commented on #157
It seems they're describing Pixel Shift, which requires that four images are taken using identical settings with the sensor shifted one sensel at a time in an (anti-)clockwise direction. RawTherapee already supports Pixel Shift demosaicing. How would this work with bracketed images as used in HDRMerge, taken on a tripod (no shift) or hand-held (massive shift not pixel shift)?

[2018-07-21 22:42] noushdr commented on #157
Well the idea was: HDRMerge asks for 4 images of each exposition (I usually do 4 exposition on landscapes, so 16 images), then first do the Pixel Shift on all of them and then do the HDR/ZeroNoise.
Hand-held would not be possible, indeed, but on tripod you could set 2s between each shot, so you can change the position slightly between them.

It does? Never heard of this feature on RT... This only

[2018-07-25 20:00] noushdr commented on #157
@Beep6581 Do you know if this is even possible to implement? If it is possible, where to start? I don't have good coding skills, but there's probably other ways I could help (research, debuging, etc).

[2018-07-25 20:04] Beep6581 commented on #157
HDRMerge is raw in, raw out. I ask again, how would this work in HDRMerge, and what would the massive amount of work required to implement this achieve?

[2018-07-25 21:55] noushdr commented on #157
Sorry if I wasn't clear. [Here's the idea](https://pictshare.net/944n60m72u.png):
![Drizzle HDR](https://pictshare.net/944n60m72u.png)

I do understand this will require a massive amount of work and I don't know if it's possible to write this kind of data on DNG files, but, there're many advantages (assuming the motion estimation is accurate):

* No interpolation artifacts. Less moire and aliasing

[2018-07-25 22:36] jcelaya commented on #157
Well, I would use HDRMerge first to get HDR raws of each shifted image,
then use Rawtherapee for demosaicing. No further coding needed.

Anyway, how do you get the shifted shots in the first place? Do you have
special equipment for that?

Javi

El mié., 25 jul. 2018 a las 23:55, noushdr (<notifications@github.com>)
escribió:

[2018-07-25 23:17] noushdr commented on #157
RT supports merge of different images already, using drizzle?
Also, even it does, I suppose the tonemapping will not be as accurate as if it was using full chroma information (?). I'm not against this idea, though.

Only a tripod with slightly movements between the shots. Even the shutter mirror movement would make a small shift on the position. After that, "sub-pixel motion estimation" could get

[2018-07-26 10:40] Beep6581 commented on #157
1. Pixel Shift is not Drizzle. Pixel Shift requires hardware which is capable of shifting the sensor one photosite at a time in a square pattern, orthogonally to the optical axis. Drizzle (variable-pixel linear reconstruction) is based on dithering, and samples of pixels from the input images "rain down" on a grid (where the name "drizzle" originates), "taking into account shifts and rotations bet

[2018-07-26 18:14] nvki opened #158 "Unexpected Results"
I'm having an issue with reddish artifacts in overexposed parts of my image. The cause might be the initial automatic layering not working as expected, causing auready blown out areas to be overexposed. Not sure if the reason is the kind of bracketing (mixed aperture and speed) or maybe the misalignment being too bad (handheld shot). I am using v0.5.0 on Win10 x64, please see the attached image an

[2018-07-26 19:03] Beep6581 commented on #158
The cause was most likely wrong white levels. The issue is now fixed. It will be part of the next release, which we really should get around to releasing soon.

DNG from the latest HDRMerge + JPG + PP3 (RawTherapee):
https://filebin.net/r475arwgdeqtizul

Compiling the latest HDRMerge code in Linux is easy, while in Windows it requires a bit more fiddling:
https://github.com/jcelaya/hdrmerge/blob/m

[2018-07-26 19:03] #158 closed

[2018-07-26 19:09] nvki commented on #158
Thank you for your quick reply! I'll be looking forward to the next release then as I'm not sure how successful I'll be compiling it myself ;)
I know that aperture bracketing is bad and ideally i'd just change the shutter speed with the cam on a tripod. I took this one walking by in a hurry and unfortunately the camera was in program mode.

[2018-07-26 22:34] noushdr commented on #157
Ok, I get it. "Bayer matrix in - Bayer matrix out".
It's not that it can't be done, the idea is just not right for this project.

Thanks for all the replies.

[2018-07-26 22:50] #157 closed

[2018-07-28 20:48] derMart opened #159 "AppImage release cwd is not correct -> problems with relative paths"
Hi I am using this release: https://github.com/jcelaya/hdrmerge/releases/download/nightly/hdrmerge-git-20180705.glibc2.14-x86_64.AppImage under Ubuntu 18.04.
When specifying a relative path to an input file while using the command line mode, hdrmerge is not able to find it. I have to specify an absolute path.

[2018-07-28 20:50] derMart opened #160 "AppImage release assertion failed"
Using the Appimage release (https://github.com/jcelaya/hdrmerge/releases/download/nightly/hdrmerge-git-20180705.glibc2.14-x86_64.AppImage) I get the following error:

[code]

[2018-07-28 20:55] derMart commented on #160
This only happens, if I specify a relative path at the -o switch. So this is related to https://github.com/jcelaya/hdrmerge/issues/159

[2018-07-30 08:01] aferrero2707 commented on #159
I've started to work on a proper fix, which consists in removing the need of cwd change when the AppImage is launched.

[2018-07-31 10:43] aferrero2707 commented on #159
@derMart I have prepared a new package, which does not change the CWD and therefore should accept relative paths like the standard HDRMerge command. Could you please check it? It can be downloaded from the [nightly builds](https://github.com/jcelaya/hdrmerge/releases/tag/nightly) release as usual.

[2018-08-01 09:40] Beep6581 commented on #159
Hi @aferrero2707 , if you would like a second pair of eyes to review the change, could you point me to the code change please?

[2018-08-01 12:43] aferrero2707 commented on #159
@Beep6581 in fact, the only relevant change is [this one](https://github.com/aferrero2707/hdrmerge-appimage/commit/597aca85a310ba34e64e32f74d5b935f7db44c57#diff-678059d44933d594b6b2374868b410b5). It removes a `cd` command in the main AppImage launcher script. All the rest of the modifications were needed to allow building the AppImage inside a docker container, for testing purposes.

No change was

[2018-08-01 14:20] aferrero2707 commented on #159
@Beep6581 I committed the changes you suggested regarding the quoting of variables. Thanks!

[2018-08-02 21:09] derMart commented on #159
@aferrero2707 I can confirm, that the new nightly release works with relative paths, both for input as well as for -o output files :+1:

[2018-08-08 00:33] afr-e commented on #40
At the moment, alignment is holding me back from using HDRMerge more often.

E.g., when I merge the raws from https://discuss.pixls.us/t/playraw-total-lunar-eclipse/8447, I get

_The blood moon_

![image](https://user-images.githubusercontent.com/42004791/43809539-b1b4af44-9a80-11e8-80d0-b6d8e95163f4.png)

It is a cool effect but not what we want.

[2018-08-19 07:40] aferrero2707 commented on #159
Closing this since the problem seems to be fixed. Feel free to re-open the issue if something still does not work as expected...

[2018-08-19 07:40] #159 closed

[2018-08-21 18:32] derMart commented on #160
as the -o switch is working with #159 fixed, I am closing this too

[2018-08-21 18:32] #160 closed

[2018-09-02 14:37] heckflosse opened #161 "building hdrmerge on Manjaro fails at linkage"
On my freshly updated Manjaro system I get this link errors:

[code]

[2018-09-02 21:31] heckflosse opened #162 "raw ca correction"
I just want to mention that there is some work by @CarVac and me in project https://github.com/CarVac/librtprocess
This work will also lead to allow usage of raw ca correction before merging the files in hdmerge....

Stay tuned...

[2018-09-03 18:48] heckflosse commented on #162
First version is available for test in `cacorrect` branch.
At the moment there is no checkbox for ca correction. It's just called.
Gui control will follow later.

You also need to install [librtprocess](https://github.com/CarVac/librtprocess)

[2018-09-03 19:49] heckflosse commented on #162
I just added a checkbox for ca correction.

[2018-09-03 21:58] Beep6581 commented on #162
The results can be fantastic!
![screenshot_20180903_224202](https://user-images.githubusercontent.com/5844619/45002267-411b4080-afd5-11e8-8985-ae5eb3b41abc.png)
![screenshot_20180903_224210](https://user-images.githubusercontent.com/5844619/45002270-41b3d700-afd5-11e8-875d-edb7e22e1551.png)

[2018-09-03 23:09] Beep6581 opened #163 "Update compilation instructions for librtprocess"

[2018-09-05 06:56] Beep6581 commented on #162
@heckflosse I noticed in the library set that CA correction can introduce artifacts where it looks like data is taken from the wrong image, hard to describe in words. Here is a set where this problem is very clear:
https://filebin.net/nxpkpqjlkv3mynw5

[2018-09-05 08:55] heckflosse commented on #162
@Beep6581 Please show a screenshot of the region in the image where the artifacts appear

[2018-09-05 09:06] Beep6581 commented on #162
![screenshot_20180905_110502](https://user-images.githubusercontent.com/5844619/45083291-b8e38b00-b0fb-11e8-9fc3-cb2aa786ec9f.png)

[2018-09-05 09:09] Beep6581 commented on #162
The same problem in the library shots around the light bulb:
![imgur-2018_09_05-11 08 48](https://user-images.githubusercontent.com/5844619/45083428-1a0b5e80-b0fc-11e8-8c2b-26384f3ffcd5.png)

https://filebin.net/il7pzq83ly4miuru/karin_library_2_1-4_noca_crop.jpg?t=031xtx6b
https://filebin.net/il7pzq83ly4miuru/karin_library_2_1-4_autocaall_crop.jpg?t=031xtx6b

[2018-09-05 10:12] heckflosse commented on #162
@Beep6581 I found the reason for the artifacts. Looking for a fix now...

[2018-09-13 22:54] Visgean opened #164 "Can't compile on arch Linux"
[code]

[2018-09-13 22:59] Visgean commented on #164
Compiling latest git version solved my problem

[2018-09-13 22:59] #164 closed

[2018-09-22 13:42] Floessie opened #165 "Crash with Fuji DR RAF"
Hi,

I was about to develop a RAF from my F600EXR in RT when to my surprise I learned that it contains two subframes, because it was taken in "Dynamic Range" mode. Thus, I fired up HDRMerge (master) to see if it would try to combine the frames. Unfortunately, I couldn't find it out, as it crashes immediately.

So [here](https://filebin.net/sgyxicm34zxgf1u5)'s the file in the hope that you can figu

[2018-09-22 13:54] heckflosse commented on #165
@Floessie Currently HDRMerge supports only files with one or three frames. But it should be easy to support two frames now as there is an example file available... Just try it ;-)

https://github.com/jcelaya/hdrmerge/blob/master/src/ImageIO.cpp#L98

[2018-09-22 14:14] heckflosse commented on #165
@Floessie The exr cameras also have a mode where the exposre of both frames is equal. In this case one can just combine them in RT (after adding some lines of code of course).

Here's an example. Left is one frame, right is combination of both frames. Much less noise
![grafik](https://user-images.githubusercontent.com/13733487/45918121-553eb900-be82-11e8-9300-7f4a4013a0aa.png)

If you're intereste

[2018-09-22 15:30] #165 closed

[2018-09-23 14:57] Floessie commented on #165
@heckflosse Splendid! Ingo, thanks a lot. Fix confirmed, RAF developed, all fine! :+1:

I think you mean the SN mode ("Signal/Noise"). Yes, I sometimes use it and would be a beneficiary. I have to dig through my archive to find such a RAF...

[2018-09-23 15:33] heckflosse commented on #165
@Floessie All exr RAF which are not made in DR mode should contain 2 frames with equal exposure.

[2018-09-23 15:35] Floessie commented on #165
@heckflosse There are three modes: DR, SN and HR (which I never use). So even HR should contain two frames?

[2018-09-23 15:46] heckflosse commented on #165
@Floessie exactly

[2018-09-27 06:50] Beep6581 commented on #165
I wanted to point out #60

[2018-10-02 08:44] Floessie commented on #162
@heckflosse @Beep6581 Any news on this? Looking forward to CA correction in `master`. :+1:

[2018-10-02 08:57] heckflosse commented on #162
@Floessie I will continue after holidays

[2018-10-11 10:02] gaaned92 commented on #162
W10 errors when compiling cacorrect branch with gcc 8.2.0

[code]

and a lot of warnings if you are interested

[2018-10-11 10:16] heckflosse commented on #162
I will fix that after holidays

[2018-10-26 21:46] crener opened #166 "Plans for choco?"
Hey I was wondering if there are any plans to put this up on [chocolatey](https://chocolatey.org/)?

If you don't know it's basically a package manager for windows so you can install and update stuff from command line like you would in linux with `apt-get`.... except it's `choco`.

Anyway it would be really great because you can just update it with a single stroke and everything is automatic. As f

[2018-11-15 19:37] ff2000 opened #167 "Show MainWindow on launch when no files passed"
HdrMerge directly calls MainWindow::loadImages in showEvent which opens a dialog that blocks the current EventLoop preventing the MainWindow from showing up.
That is confusing (to me) as only a file dialog pops up.
The quick solution is to postpone the loadImages call so that the MainWindow shows up:
[code]
A better approach IMO would be to just open the MainWindow and present the user a "Open Raw

[2018-11-16 09:00] Beep6581 commented on #167
Showing the loadImages window seems logical to me. Is there anything you can do in the main window when no images are loaded?

[2018-11-17 07:54] ff2000 commented on #167
As I said: add a button to manually open the Load Files dialog. Of course that will make more sense when there are several other buttons (Show Help etc.) This was the first time I started hdrmerge so I do not yet know what it is capable of and which actions the user could trigger.
Another option would be to show the LoadOptionsDialog as centralWidget in the MainWindow.
Or show the empty editor wit

[2018-11-17 08:11] ff2000 commented on #167
As the LoadOptionsDialog also uses the showEvent you can play with that, too. Start hdrmerge, select files with the file picker, then minimize the LoadOptionsDialog and maximize it again.
Those issues should be solved in any case, a different startup and load procedure is IMO the best and easiest way.

[2018-11-18 12:58] ff2000 commented on #154
I had the same problem.
On the left panel there is a working link to "What is hdrmerge":
http://jcelaya.github.io/hdrmerge/documentation/2014/05/24/what-is-hdrmerge.html
Seems there is just an "hdrmerge" missing in the url.

[2018-11-18 18:33] Beep6581 commented on #167
Yes, odd things happened. For reference, after the main window was minimized, showing it popped up the "Open raw images" dialog again, and clicking "Cancel" made the dialog pop up again. I had to "Cancel" it three times for it to stop popping up.

The dialog should still pop up so that the user can specify those options when launching HDRMerge by selecting several files in a file browser and invok

[2018-11-18 22:08] Beep6581 commented on #167
I will try to test it tomorrow, please poke me if I forget.

[2018-11-19 07:19] ff2000 commented on #167
One small issue: The LoadOptionsDialog and the File Selector in LoadOptionsDialog::addFiles both have the same window title. The File Selector then will have a "<2>" appended to the title. IMO one should be renamed - e.g. "Select RAW files" for the file selector to keep the Menu action and the title of the LoadOptionsDialog the same. Not sure about "files" vs. "images".

[2018-11-19 09:42] Beep6581 commented on #167
"Select raw photos"

[2018-11-20 06:57] ff2000 commented on #167
I pushed the changes to my fork:
https://github.com/ff2000/hdrmerge/commit/60b1df5f6c8eb5c4fe6871101d9e973ee0f1d23b

[2018-11-20 10:00] ff2000 commented on #47
I think this requires a new tool.
With those three layers you might simply want to brush in some pixels from [2] and not automatically remove them from [1] if you paint across the mask's border.

[2018-11-20 10:35] Beep6581 commented on #47
I don't think a new tool is necessary - it's still painting with a brush. A keyboard shortcut would suffice to paint through all layers.

[2018-11-30 08:11] ff2000 commented on #167
Any opinion yet on the changes?
Should I create a pull request?

[2018-11-30 10:21] Beep6581 commented on #167
I haven't had time to test yet and probably won't be able to this weekend. Go ahead with the PR, at least it puts this in a visible place. I will test as soon as I can.

[2018-11-30 10:30] ff2000 commented on #167
OK, I will create a PR ASAP.

[2018-12-02 13:53] Beep6581 commented on #167
Tested and fix confirmed.

[2018-12-02 13:54] #167 closed

[2019-01-19 10:20] Floessie opened #170 "Random patterns in highlights"
Hi there,

I'm facing [yet another](https://github.com/jcelaya/hdrmerge/issues/113) issue with a HDRMerged night scene. While `stack1` merges without problems, `stack2` shows severe artifacts in the highlights even in the preview and more so when opened in RT. It doesn't matter if the white level is customized to 13314 or automatically derived.

The stacks were taken hand-held and aren't particula

[2019-02-25 08:35] Beep6581 opened #171 "Preserve the exposure value across bracketed sets"
When shooting panoramas, one always deals with a high dynamic range scene. Some elements of the scene will be dark, others bright. To handle this, one shoots a bracketed set of photos at every point of view while keeping the camera in manual mode with identical settings, so that stitching the bracketed sets should be simple afterwards. But it's not, because HDRMerge treats every bracketed set as u

[2019-03-01 13:30] kmilos commented on #69
Reviving an old topic and #48

There is nothing "special" about the Bayer/RAW image format, it's just grayscale pixel value data. The Bayer CFA is a logical layer on top of it that tells you how to use those values to get a color image. The DNG container just makes it easier to keep the necessary metadata around to process those raw values consistently.

As such, OpenEXR supports almost anything (

[2019-03-13 17:55] Beep6581 opened #172 "Fix compilation using exiv2-0.27"
Compilation is currently broken on the configuration stage when using exiv2-0.27.

Patch from @darix
https://build.opensuse.org/package/rdiff/home:darix:playground/hdrmerge?linkrev=base&rev=5

[2019-03-13 19:57] darix commented on #172
my patch cleans up the whole thing quite radically by either relying on the exiv2 own exiv2Config.cmake or pkg_check_module (for libraw) ... instead of using the whole indirection.

[2019-03-14 18:05] rdzeldenrust commented on #171
Thanks for mentioning this, I was having the same issue and was hoping there was a workaround - would be good to have one.

A program like HDRgen does do this so it should be possible.

[2019-03-14 18:13] Beep6581 commented on #171
@rdzeldenrust there is a workaround if you use RawTherapee, and that is to save unclipped 32-bit floating-point images, see: https://discuss.pixls.us/t/save-unclipped-images/11621

[2019-04-19 15:47] 10110111 opened #173 "More noisy data appear in place of perfectly well-exposed pixels"
I was trying HDRMerge with three files, of which the one with longest exposure is actually sufficient: it has no overexposures and, due to having largest signal, has smallest SNR. But for some reason HDRMerge decides to place some underexposed data in place of the brightest parts of the image, resulting in very visible noise which stops outside of the bright part of the image.

Here's a link to th

[2019-04-22 09:33] fanckush commented on #172
Any quick workaround till the fix is implemented?

[2019-04-23 06:50] Beep6581 commented on #172
I created branch `cmake-exiv2` using the patch from @darix and can confirm that it fixes compilation in Sabayon using exiv2-0.27.0.

@heckflosse @Floessie @fanckush please confirm, then I will merge.

[2019-04-23 17:15] fanckush commented on #172
Just tested on macOS 10.14.4 and sure enough it fixed the completion error when using exiv2 v0.27
Thanks

[2019-04-23 17:17] fanckush commented on #172
I'd like to add that I get the following error. tho I'm not sure it's related
[code]

[2019-04-23 17:32] heckflosse commented on #172
@Beep6581 I never managed to build hdrmerge on Windows.

[2019-04-23 19:53] darix commented on #172
could be that file was removed in the exiv2 release. maybe you can still access all the types/function definition that used to be in the error.hpp if you just include the base exiv2 headers?

[2019-04-23 20:31] Beep6581 commented on #172
I have media-gfx/exiv2-0.27.0-r2 installed and there is a file
`/usr/include/exiv2/error.hpp`

[2019-04-24 07:23] fanckush commented on #172
when I try to rerun `sudo make -j4 install` then I get a similar error for `#include <exiv2/exiv2.hpp>`
I checked and I have all the headers here
`/usr/local/Cellar/exiv2/0.27.0a/include/exiv2`

Either I'm doing something wrong along the way. or Cmake is not finding the include dir

[2019-04-24 09:35] Beep6581 commented on #172
@fanckush and you're compiling in a clean, out-of-source `build` folder?

[2019-04-26 13:27] Benitoite commented on #172
@darix @Beep6581 On system MacOS 10.14.5ß18F118d, `cmake-exiv2` branch, latest cmake, this is what I get:

[code]
...
[code]

[code]

[code]

Also, exiv2, a similar prob.

[code]

To enable compilation, I hardcoded the libs:
[code]

[2019-04-26 14:32] darix commented on #172
please provide the output of

```pkg-config --libs libraw_r```

because to me it looks like your pkg-config file for libraw_r is broken.

for exiv2 ... check exiv2Config*.cmake

and maybe compare it to:

```pkg-config --libs exiv2```

[2019-04-26 17:38] fanckush commented on #172
@Benitoite do you have OS X 10.9? if not you should change the part where you specify the SDK "..../MacOSX**10.9**.sdk...."

@Beep6581 yes I am. I will get back to you once I try on a (friend's) clean macOS installation to eliminate the chances of me messing something up regarding exiv2 libs

[2019-04-26 20:45] Benitoite commented on #172
@darix
[code]
and
[code]
and `/opt/local/lib/exiv2/cmake` things are all latest libexiv2.0.27.1.1.

@fanckush I build for 10.9+.

[2019-04-26 21:17] darix commented on #172
both look correct. If the -l... normally works on osx. if not ... then your pkgconfig files should return to the dylib file

for the cmake files ... check that the paths in those files are correct too.

[2019-04-27 00:48] Benitoite commented on #172
`-l` does normally work, and `-lexiv2` & `-lraw_r` have worked elsewhere.  The `lib/exiv2/cmake/`things  use an `_IMPORT_PREFIX` for the path. It seems right? `libexpat.dylib` path is hardcoded by the generation. I tested compilation on *LuminanceHDR* using the same exiv2 and libraw_r and there was no problemo.

[2019-04-27 11:41] fanckush commented on #172
@Benitoite oh that works, however if I'm not mistaken, the `CMAKE_OSX_DEPLOYMENT_TARGET` allows you to use the latest SDK and still support older macOS versions..  that's not related to this issue but thought to mention it.

@Beep6581 I got the same issue on a fresh macOS installation. hardcoding the include dir for exiv2:
[code]

I ended up pretty much with the issues that Benitoite had,  and so

[2019-04-27 12:26] darix commented on #172
if you are adding back hardcoded things to the hdrmerge files you are fixing the wrong things. the new code for building asks your system "hey tell us where to find the headers and how to link this library" and your system tells us wrong things.

[2019-04-27 13:13] Benitoite commented on #172
My question then is why does the linker not know where to find those two libs?
Instead of hardcoding paths into CMakeLists.txt, we could pass the libs thru the `cmake` invocation.

[2019-04-27 14:58] fanckush commented on #172
I'm not suggesting to hardcode the paths of course. Anyway, as a different approach, I switched to master and changed this:

[code]
and it builds. can someone test this? and point out possible issues of doing this as well?

[2019-04-27 16:20] Benitoite commented on #172
@fanckush That change also configures for me (sans version error).  What I was experimenting with was making the minimum version requirement for exiv2 be `".."` instead of `"0.12"` which also configured ok.  @clanmills on the exiv2 team might be able to shed some light.

[2019-05-01 12:55] rdzeldenrust commented on #171
Thanks @Beep6581, I'll give that a try.

[2019-05-08 09:37] Beep6581 commented on #172
Currently, `master` fails with:
[code]

I confirm that @fanckush 's patch fixes compilation in `master` using exiv2-0.27.0. It produces:
[code]

How do we proceed - just apply @fanckush 's patch, or merge PR #174?

[2019-05-08 09:40] Beep6581 commented on #172
@fanckush to clarify, you do not end up with a successful build on macOS 10.14.4 using branch `cmake-exiv2`, but you do when using your patch alone, is that correct?

[2019-05-08 15:28] Benitoite commented on #172
@Beep6581

The @fanckush patch on master works for me (MacOS 10.14.5ß18F127a).

`cmake-exiv2` is not yet working on mac (I had to hardcode the paths of `libraw_r` and `exiv2` into `CMakeLists.txt`)

[2019-05-08 15:31] cryptomilk commented on #172
Can someone try https://xor.cryptomilk.org/FindExiv2.cmake

[2019-05-08 15:47] Benitoite commented on #172
@cryptomilk Thanks Andreas, works on mac for me, except you need to comment out line 49
 😄

[2019-05-08 16:40] fanckush commented on #172
@Beep6581

- building clean from master I get what you got:

[code]

- Still master + change below (the patch), resulted is Cmake command succeeding ✔

However, `make install` fails for unrelated reason caused by `/usr/local/include/` not being used [macOS: /usr/local/include not a system include directory under CMake](https://gitlab.kitware.com/cmake/cmake/issues/19120)
the sepecfic error I got:

[2019-05-08 16:46] fanckush commented on #172
@cryptomilk This worked like a charm! it also fixed my `/usr/local/include/` issue
@Beep6581  ignore my previous comment :)

[2019-05-08 17:36] Beep6581 commented on #172
@cryptomilk I confirm that using your patch it compiles and runs well in Sabayon Linux
[code]

[2019-05-09 10:13] fanckush opened #178 "macOS: app crash after selecting RAW images"
The app crashes the moment I click on "accept" (if I have no RAW files selected it doesn't crash). I am building from source from the master branch + #177 pull request patch for exiv2 0.27

This is the part that seemed significant in the crash report:
[code]

<details>
<summary>Full crash report: </summary>
<p>

[code]

</p>
</details>

Any idea where I should go from here? Maybe I should not use

[2019-05-09 10:38] Beep6581 commented on #178
Please upload the raw file(s).

[2019-05-09 10:49] fanckush commented on #178
It crashes for any raw image I give it. here is an example set of raw images: [https://we.tl/t-tGy8WLi1Wx](https://we.tl/t-tGy8WLi1Wx)
The same images did not crash with the current released binary of HDRmerge (v0.5)

[2019-05-09 11:05] Beep6581 commented on #172
I will merge PR #177 tonight if noone objects.

[2019-05-09 11:09] Beep6581 commented on #178
No problem here using 7036566 + cmake patch, libraw-0.18.13, tested with all three checkboxes unticked and ticked.

Which exact version of libraw are you using @fanckush ?

[2019-05-09 11:29] fanckush commented on #178
I'm using
- libraw 0.19.2
- cmake 3.14.3
- Qt  5.12.3

[2019-05-09 13:33] Benitoite commented on #178
LibRaw v.19 appears almost at the top of the crashed thread...  I use LibRaw `0.17.2` without problems.

[2019-05-09 13:47] Beep6581 commented on #178
@fanckush can you try 0.19.1 and 0.19.0?

[2019-05-09 13:48] fanckush commented on #178
I went back to LibRaw `0.17.2` and it worked..
I'm curious to see at what version it crashes

[2019-05-09 13:59] fanckush commented on #178
So it crashed for `0.19.0` as well. The last supported LibRaw version is apparently `0.18.13`

[2019-05-09 14:21] heckflosse commented on #178
We should check the libraw version in cmake until the bug is fixed.

[2019-05-09 14:31] fanckush commented on #178
This is probably related to [https://github.com/LibRaw/LibRaw/issues/186](https://github.com/LibRaw/LibRaw/issues/186)
In which case the solution is to use new/delete instead of using the default stack approach when creating LibRaw instances

[2019-05-09 14:45] heckflosse commented on #178
@fanckush I will try to fix it

[2019-05-09 16:23] heckflosse commented on #178
@fanckush Can you try this patch please?

[code]

[2019-05-09 16:37] fanckush commented on #178
similar timing! I was curious to see if I could make it work. With the following changes [https://github.com/jcelaya/hdrmerge/compare/master...fanckush:support-libraw-0.19+](https://github.com/jcelaya/hdrmerge/compare/master...fanckush:support-libraw-0.19+) It worked for me with `LibRaw-0.19.2`

I'm no c++ developer and looking at your code I can tell I'm not supposed to do new/delete manually.. e

[2019-05-09 16:46] heckflosse commented on #178
@fanckush :smiley:
You forgot at least one delete (in loadRawImage(..)).
I used std::unique_ptr to not care about the deletes.

[2019-05-09 16:58] fanckush commented on #178
@heckflosse I guess I did. I just learned what unique_ptr does! Thanks!
Anyway, I confirm your patch works perfectly with `LibRaw-0.19.2`

[2019-05-09 17:03] #178 closed

[2019-05-09 18:04] fanckush commented on #56
Sorry for reviving an old issue! I though I'd add potentially useful info to this.

I followed the steps from https://github.com/jcelaya/hdrmerge/issues/56#issuecomment-372105553 but changed the Cmake commend a bit
Here's the cmake command I used on macOS **Mojave** 10.14.4 and using **brew**
[code]

[2019-05-09 18:42] Benitoite commented on #56
` -DOpenMP_CXX_LIB_NAMES="libiomp5"`  a _libiomp5_ still in there.  Is there a brew command to install everything or partially what's needed?

[2019-05-10 06:42] Beep6581 commented on #56
Would be nice if someone updated the macOS section in  https://github.com/jcelaya/hdrmerge/blob/master/INSTALL.md as needed.

[2019-05-10 08:53] dannephoto commented on #56
@fanckush
How are you getting '/usr/local/lib/libomp.dylib' installed?

I get this with your set up.
[code]

[2019-05-10 10:13] fanckush commented on #56
@Beep6581 i’ll work on that for brew users

[2019-05-10 19:04] fanckush commented on #56
Can someone test the new instructions from: #179
I tested on two machines:
- Mojave 10.14.4
- High Sierra 10.13.x (without Xcode)

[2019-05-10 19:07] heckflosse commented on #56
@fanckush I can not test as I'm not an Mac, but I placed two typo comments on your pr.

[2019-05-10 19:22] fanckush commented on #81
Should this be removed from v1.0 milestone? maybe pushed to 1.1?

[2019-05-10 21:00] fanckush commented on #113
@Floessie could you re-upload the images if you still have them :) ?

[2019-05-11 09:41] Beep6581 commented on #81
Actually, as there's been no response in ages, I'm closing this.

[2019-05-11 09:41] #81 closed

[2019-05-11 10:22] Floessie commented on #113
@fanckush Sure. [Here](https://filebin.net/xlim57f46vnf7u3f) they are.

[2019-05-11 10:29] #172 closed

[2019-05-11 11:09] fanckush commented on #173
Logically, the job of HDR is to take the bright parts from the lowest exposed image.
And that is what is happening here:
![Screenshot 2019-05-11 at 12 57 20](https://user-images.githubusercontent.com/6278713/57568843-0df34180-73ed-11e9-8f85-ccbfb50f4e10.jpg)

I'm curious. What is the expected behaviour from a situation like this where the brightest image is not actually over exposed. Should HDRMer

[2019-05-11 11:27] 10110111 commented on #173
Actually no, the job of HDR is to choose the "best" data from the available ones. "Best" means valid (not clipped) and having highest SNR from the valid samples available.

Yes, the lower-exposed images should be ignored, since the best data are all in the brightest image in this case.

Not sure what EV has to do with checks for overexposure. The correct way to determine whether a (sub)pixel is ov

[2019-05-11 15:07] fanckush commented on #173
I haven't checked the code but the calculated EV value seems to be off meaning that possibly the code is not measuring/detecting overexposure properly when deciding on which pixels from which layer to use

[2019-05-12 00:47] fanckush opened #180 "request: increase code readability"
I'm really interested in this project and would love to contribute and start closing some of the issues. To be honest, the code isn't very understandable, many variables don't have proper naming and I think that makes it difficult for new people who didn't initially write the code. Take this function for example:
https://github.com/jcelaya/hdrmerge/blob/3ad6d36c517ddb7f164799c98800bdccb2e5b9f2/src

[2019-05-12 20:09] fanckush commented on #56
@Beep6581 I think this can be closed now that #179 is merged

[2019-05-13 05:57] Benitoite commented on #180
In college I learned the `type_nameInCamelCase` convention in ANSI C class.
@heckflosse @Floessie etc are probably the C/C++ experts if it comes to drafting a `CONVENTIONS.md`.

[2019-05-13 07:20] #56 closed

[2019-05-13 08:01] fanckush commented on #180
Cool. from my point of view, any convention is fine really as long as it's verbose :)

[2019-05-13 19:49] heckflosse commented on #180
Imho @Floessie is the expert for coding conventions.

[2019-05-14 06:17] Floessie commented on #180
I think we all agree that having strong conventions might hamper creativity and are hard to enforce on an existing project with many contributors. Still there should be some guidelines...

For RawTherapee, we have a cautiously moderated [`CONTRIBUTING.md`](https://github.com/Beep6581/RawTherapee/blob/dev/CONTRIBUTING.md) with some rough guidelines not meant to be too interfering.

This sounds reas

[2019-05-14 11:01] fanckush commented on #180
I made this PR #181

[2019-05-16 00:58] djotaku commented on #81
hey, not sure about milestones, but I have made it work now for F29

[2019-05-16 15:23] olokobayusuf commented on #162
This looks pretty amazing. Any word on it?

[2019-05-27 13:52] fanckush opened #182 "Question: White Level Calculations Method"
This may not be the best place to post this question but it's at least relevant to how saturation levels are computed in HDRMerge.

I wanted to contribute to this project so I've been looking into the code and trying to understand it better. One part I found particularly strange was: https://github.com/jcelaya/hdrmerge/blob/3ad6d36c517ddb7f164799c98800bdccb2e5b9f2/src/ImageStack.cpp#L54
If I under

[2019-05-27 14:05] Beep6581 commented on #182
In RawTherapee, which does not use LibRaw, we measure raw files based on a set of clipped whiteframes and register the white level in a file which RawTherapee checks every time it loads a raw file, see:
- https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L32
- http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats

HDRMerge uses LibRaw and here things are differen

[2019-05-27 14:29] fanckush commented on #182
I gotta say, this is what just happened to me now [Mind Blow](https://tenor.com/view/mind-blown-mind-explosion-explode-gif-4740219).
I can't believe the struggle and different approaches for something I took for granted all this time. Even displaying a Raw image on a screen is a challenge!

Thanks a lot

[2019-05-27 14:58] heckflosse commented on #182
@fanckush Maybe related: https://github.com/jcelaya/hdrmerge/issues/126

[2019-05-27 15:35] fanckush commented on #182
Anyone know the reason behind this
https://github.com/jcelaya/hdrmerge/blob/3ad6d36c517ddb7f164799c98800bdccb2e5b9f2/src/ImageStack.cpp#L92
In previous commits, the division was by `1000`, any math behind this or it just arbitrarily?

@heckflosse Thanks. looks useful. It's probably safe to assume that all bugs with highlights and noisy data are caused by the way saturation is calculated.

[2019-05-27 16:15] Beep6581 commented on #182
And for reference, rawspeed/darktable do the same:
https://github.com/darktable-org/rawspeed/blob/develop/data/cameras.xml

[2019-05-27 18:16] fanckush commented on #182
I finally understand some stuff better now. Seams like I'm late to the game and you guys already went over this whole thing.

LibRaw's `params.color.max` seams to be `16383`. As far as I understand, this value is hardcoded into LibRaw and is not dependent to the loaded raw image.
I only have a patchy idea in mind and that is to take this max value as an absolute (even if the camera will NEVER reac

[2019-05-28 10:10] Beep6581 commented on #182
@fanckush see also this issue for insight and surprises:
https://github.com/LibRaw/LibRaw/issues/82

[2019-05-28 19:02] fanckush commented on #113
@Floessie  Could you try this patch? It enhances the way the response function parameters are calucalted for dark images:

[code]

**Reasoning**: This code lives in an else block that handles dark images, the `response.threshold` is manually set to `65535`. I'm not sure yet why but it seems that the response function needs to adapt (shift) the whole curve in case of a dark image.

**changes**: the

[2019-05-28 21:56] fanckush commented on #173
Can you try this patch?

[code]
Seems to perform better with your set of pictures.

[2019-05-29 05:04] 10110111 commented on #173
Although it doesn't apply to current master, I've applied it manually, and it does seem to give a good result.

[2019-05-29 07:43] fanckush commented on #162
@heckflosse could you direct me to what you think the reason behind the artefacts is? I want to help and would love a hint :)

[2019-05-29 13:50] fanckush commented on #113
I did some testing on a normal [set of images set](https://we.tl/t-7HZdGBMwJi)

Before the patch:
![Screenshot 2019-05-29 at 15 25 00](https://user-images.githubusercontent.com/6278713/58561114-b6473980-8226-11e9-8fd1-506a1ea1663b.jpg)
After the patch:
![Screenshot 2019-05-29 at 15 36 34](https://user-images.githubusercontent.com/6278713/58561530-9b28f980-8227-11e9-908c-585bf785045b.jpg)

There is

[2019-05-29 16:06] heckflosse commented on #162
@fanckush I think the reason is, that the raw data is not white balanced. In RawTherapee we apply an auto whitebalance to the raw data before raw ca correction and demosaic and revert this scale after demosaic. Iirc this gave better raw ca correction and demosaic results and afaik that's the only difference atm between raw ca correction in RawTherapee and this hdrmerge branch.

[2019-05-30 11:42] Beep6581 commented on #113
@fanckush there seem to be quite a few issues with that image. The flag and water artifacts could be explained by movement between the images (I haven't checked the raw photo) but other areas are static.
![artifacts](https://user-images.githubusercontent.com/5844619/58630807-d1767f80-82e0-11e9-8f2d-242f941ac17f.jpg)

[2019-06-03 18:04] Floessie commented on #113
@fanckush As much as I liked this being solved, your patch is not yet on the spot.

### With patch
![bad](https://user-images.githubusercontent.com/10133457/58823613-6b6c5e00-863a-11e9-9ac3-584c3e5b9859.jpg)

### Without patch
![good](https://user-images.githubusercontent.com/10133457/58823629-77f0b680-863a-11e9-9819-1af837115871.jpg)

[2019-06-03 20:02] fanckush commented on #113
@Floessie yup. It was a naive attempt that showed good results for one case. I'm still going through understanding what everything does and only after that I can attempt to solve this :) this may take a while, I'll came back with another patch 👍

[2019-06-20 05:38] luzpaz opened #185 "Update website to show v0.5.0 is stable"
https://github.com/jcelaya/hdrmerge/releases/tag/v0.5.0
http://jcelaya.github.io/hdrmerge/

[2019-06-20 10:46] Beep6581 commented on #185
v0.5.0 is not recommended, there have been many improvements since then. We will release v1.0 later this summer.

[2019-06-20 10:46] #185 closed

[2019-07-16 15:54] rdzeldenrust commented on #171
@Beep6581 trying it at the moment. Is the idea that I take the original RAW images, save them as unclipped 32-bit floating point images, and then use them with HDRMerge? I don't seem to be able to export them as anything other than tiff or jpeg or png, and HDRMerge doesn't take those formats.

Or is the idea that I process my images in HDRMerge and then take the DNGs and unclip them somehow?

[2019-07-16 19:57] Beep6581 commented on #171
@rdzeldenrust no, the process is:
* Convert bracketed raws to HDR DNG,
* Using RawTherapee, convert the HDR DNGs to 32-bit TIFFs using the "Unclipped" profile and nothing else.
* Stitch those TIFFs in Hugin, save the stitched panorama as a 32-bit TIFF.
* Open the panorama in RT for final processing.

[2019-07-17 08:52] rdzeldenrust commented on #171
Thanks for the workflow! Seems to work as far as I can see.

I'm not doing panoramas - I am doing an HDR timelapse which also requires the exposure to be consistent across frames - but the technique seems to work similarly.

The only thing is that the tifs become gigantic but if I convert them into EXRs they should be manageable.

[2019-07-17 15:20] muntzstudios opened #186 "Can't see mounted harddrive?"
I've installed this software on my Mac ( current OS), and all I have access to is my home folder and the computer, and under the computer I only see 1x of the two drives on my imac (spite the fusion when I installed 2x solid state drives) and I do not see my mounted 20TB RAID drive

I need to process files on my external, how can I fix this?

[2019-07-17 15:26] fanckush commented on #186
I think has been fixed with V1.0 when they moved from Qt4 to Qt5. You are probably using V0.5.0
To use V1.0 you have to build it yourself on macOS using the instructions here [INSTALL.md](https://github.com/jcelaya/hdrmerge/blob/master/INSTALL.md)

There are about 10 easy steps to follow. Let me know if you have trouble with building.

[2019-07-18 14:32] muntzstudios commented on #186
I have zero experience with this, any chance you already have it built and I could use it haha?

[2019-07-18 15:00] Benitoite commented on #186
There is one here you can try.

https://keybase.pub/kd6kxr/HDRMerge-f74cf3d.dmg

[2019-07-18 15:02] muntzstudios commented on #186
Great, thanks! I’ll give it a shot.

[2019-07-19 14:13] fanckush commented on #186
@muntzstudios let us know once you try it if v1.0 fixes this issue so we could potentially add it to the changelog

[2019-07-20 09:07] Beep6581 commented on #186
Note that HDRMerge v1.0 has not been released yet, it does not exist. v0.5 was released in 2015 and there have been 140 commits since then, you're simply testing the latest development code which will become v1.0 in the near future.

[2019-07-21 15:18] olokobayusuf commented on #118
Running into the same issue with an EOS 5D Mark IV. Tried `master`, still won't open.

[2019-07-21 22:57] Beep6581 commented on #118
@olokobayusuf upload a sample raw file.

[2019-07-22 00:36] olokobayusuf commented on #118
Check out [this image](https://drive.google.com/open?id=1VwgeTisQ-OelbrLLSF5_rVJZT2Po9Suw).

[2019-07-22 09:54] Beep6581 commented on #118
Same solution - the Canon EOS 5D Mark IV is supported by libraw-0.19.

[2019-07-22 15:26] olokobayusuf commented on #118
I have [LibRAW 0.19.2 installed](https://formulae.brew.sh/formula/libraw). I thought HDRMerge dynamically links to it, so it should just work. Do the HDRMerge sources need to be modded for this to work properly?

[2019-07-22 15:43] Beep6581 commented on #118
@olokobayusuf please post the full output of:
[code]

[2019-07-23 09:03] muntzstudios commented on #104
@Beep6581  - For give my extremely basic question haha, but how in the world do you launch a batch processing action with HDRMerge? I open terminal and type what? I'm very new to this (command line stuff) but desperately want to be able to use this to batch out DNG Hdrs in a more efficient manner rather than creating them all in LR

[2019-07-23 09:06] Beep6581 commented on #104
@muntzstudios navigate to the folder with your photos, then run hdrmerge with the `--batch` flag and your raw photo extension as an argument. For example, if your photos have a `.dng` extension:
[code]

[2019-07-23 09:18] muntzstudios commented on #104
Is there a way to make this automatic, with automator? Thanks so much for your help!

[2019-07-23 09:37] muntzstudios commented on #104
Hi Beep6581 - I’m trying to run this, but it’s saying no command found?

I dragged my folder into the terminal, so I get the exact location, then added the cd in front of it (with the space, as I see below) but can’t get the hdrmerge app to batch

Any suggestions?

[2019-07-23 11:48] muntzstudios commented on #104
I’ve managed to figure out how to run the batch functionality. All images are 2 stops apart from one and other and within a 5 bracket interval. The final result looks terrible, the images have a lot of pink color over certain parts of it. How can I fix this? Is it some sort of a settings issue?

[2019-07-23 12:11] Beep6581 commented on #104
As I wrote above, this is not the place for user support.

[2019-07-23 12:40] muntzstudios commented on #104
Ok, how is someone supposed to get support or help with this?

[2019-07-23 12:46] Beep6581 commented on #104
@muntzstudios

[2019-07-23 12:58] muntzstudios opened #187 "Unable to run batch properly"
I've followed everyone's steps, reviewed everything I can find currently online... and I'm still having issues with running a batch functionality with this software via a command line.

1) it's running at 16 bit, and I can't seem to figure out how to change it to 32 bit with the flag? When I input the command, it does literally nothing.
2) I ran it successfully, it created the DNG files, but they

[2019-07-25 08:17] Beep6581 commented on #187
Closing, as this was cross-posted in the forum and the sample images provided in the forum were batch-processed using the latest dev without issues.

Please don't cross-post, and use the forum for user support.

[2019-07-25 08:17] #187 closed

[2019-07-30 00:19] olokobayusuf commented on #118
Here's the output of running `cmake` and `make` (I'm on macOS):
[code]

Specifically:

[2019-08-02 10:33] fanckush commented on #186
I think it's safe to assume it worked :)

[2019-08-02 10:44] fanckush commented on #182
Hey guys! it's been a while since my last commit, I've been busy with.. life but I really want to get back to this and resolve everything needed to release V1.0
I guess I'm just saying I didn't give up on this 😅

[2019-08-05 10:12] #186 closed

[2019-08-05 12:02] LigH-de commented on #165
@heckflosse - it seems that not all EXR cameras produce the same kind of RAF file content. I have a Fujifilm FinePix S200EXR and took a triple shot in different explicit EXR modes. The results are as follows:

- HR: 24.12 MB, dcraw reports 2 images with 2824×2128 px, Lightroom can reconstruct 4000×3000 px
- SN: 12.43 MB, dcraw reports 1 image with 2824×2128 px, Lightroom can reconstruct 2816×2112

[2019-08-05 13:17] heckflosse commented on #165
@LigH-de
You can use [this file](https://raw.pixls.us/getfile.php/687/nice/Fujifilm%20-%20FinePix%20F600EXR%20-%2012bit%20uncompressed%20(4:3).RAF) for tests.

It contains two frames with different exposure.

[2019-08-06 18:19] LigH-de commented on #165
OK, my mistake ... the camera stores two separate frames in the RAF only if it detects a sufficient contrast. Even if you force a specific contrast mode, the motive may still fit in the value range of only one frame.

[2019-08-06 18:53] heckflosse commented on #165
@LigH-de

Interesting and good to know :+1:

[2019-08-08 06:42] LigH-de commented on #165
If you are curious, a few more [EXR-DR samples](https://www.ligh.de/tmp/EXR-DR.7z)

Naming scheme:

`EXR-DR_Axxxx_Dyyy.RAF` with xxxx = "Auto sensitivity up to xxxx ISO" and yyy = "Dynamic range up to yyy%", according to the camera menu.

You will notice that the contrast was moderate so that the 200% DR shot fit in only one raw frame.

[2019-08-11 15:44] LigH-de commented on #165
I went out today and shot several photos with high dynamic range. Hope you can use a few to improve handling of 2 frame raw images.

[MediaFire: EXR-DR](http://www.mediafire.com/folder/7vf30kbsz87z1/EXR-DR)

BTW, I missed a guide how to use them correctly: Do I open one, or do I have to add a second copy? Without a copy, the preview is only green (1 layer), blue areas (layer 2) only appear with a

[2019-08-20 12:28] gmaxwell commented on #171
I also ran into this but was leaning on thinking it was RT doing the inconsistent gains since I couldn't find anything in the hdrmerge codebase that could be doing it. (But it's hard to tell because I can't find anything but RT that will read the hdrmerge DNGs). Thanks for the tip about 32-bit/unclipped, I'll give that a try.

While troubleshooting I also encountered another issue which is that HD

[2019-08-22 06:53] Beep6581 commented on #171
@gmaxwell please open a new issue for that, along with sample images which demonstrate the problem. You could also include a patch for testing which adds a checkbox which bypasses `computeResponseFunctions`, the checkbox could go into the "Open raw images" frame under "Use custom crop ratio", along with a command-line switch.

[2019-08-31 21:12] Entropy512 commented on #60
@porst17 I have a pretty strong interest in a median stacking solution and either finding or implementing something is next on my TODO list.  I see that you did push some code to your own repository a few years ago - https://github.com/porst17/hdrmerge/commit/e8b440c6534351d79bc658de43eb43ead586a1b5 - did you have any other proofs of concept elsewhere?

Siril may be better suited to these tasks, a

[2019-09-03 07:41] gaaned92 opened #189 "Automatically updating "about" information and window title"
presently, `about` information and window title are manually updated.
Is it possible to update those informations as it is done in rawtherapee?

[2019-09-03 16:10] fanckush commented on #189
I don't use rawtherapee, could you explain where this `about` information and window title exist?

[2019-09-03 19:40] luzpaz commented on #150
Is there a plan for another minor release before 1.0 ?

[2019-09-04 09:26] Beep6581 commented on #150
@luzpaz i will tag a new release around the time I tag the RawTherapee 5.7 release - very soon. The word "minor" doesn't really play any part here - it is what it is, and we may as well call it 1.0 since it has been used successfully for a long time, it is feature-complete for what it does, and there are no new features on the horizon.

[2019-09-05 22:06] gaaned92 commented on #189
When I build nignhtly builds  for the git repository, I can observe that the master branch is 64 commits after the "continuous" tag. (note: I don't know where this tag comes from. )
The version of this nightly build is then `continuous-64`

When a user starts a hdrmerge nightly build, a v0.5.0 is written in the window title and the same v0.5.0 is provided in the Help/about information. This inform

[2019-09-14 14:47] fanckush commented on #113
I'm back with another patch. First I wanna say that this is much trickier than I expected.

TL;DR at the bottom.

@Floessie you are getting 1MB because most of the resulting HDR image is dark AND the small bright part is extremely bright.

**Part 1 ImageStack::compose()**
HDRMerge squashes everything into the range: (0 + black level) to (params.max)
the fact that the HDR image has such a huge Dyna

[2019-09-14 16:21] fanckush commented on #182
All questions I had are clean now. Closing for now. If anyone in the future has any questions to the topic I'll be glad to explain

[2019-09-14 16:21] #182 closed

[2019-09-14 16:41] fanckush commented on #170
Can you re upload the images for me to test, the link expired obviously :)

[2019-09-14 17:01] Floessie commented on #113
@fanckush I'd like to try your patch, but it doesn't apply on `master`. Is it against another branch?

[2019-09-14 17:06] Floessie commented on #170
@fanckush I'm not sure if I still have them, but I'll take a look tomorrow.

As a sidenote: filebin.net was down last week. Are you on [PIXLS](https://discuss.pixls.us/)? If so, I could provide you with the images there (only if I find them, of course :wink:).

Thanks for having a look! :+1:

[2019-09-14 18:33] fanckush commented on #113
@Floessie it should work, it is from master. Here is output of `git diff` saved to a file:
[patch.txt](https://github.com/jcelaya/hdrmerge/files/3613030/patch.txt)

[2019-09-14 18:39] fanckush commented on #113
if this works, I will work on making it less patchy for example:
[code]
 is not stable in the case of a dark stack such as #173. The result HDR image is actually simply black because the `if` is always false

[2019-09-14 18:43] fanckush commented on #170
I'm not on pixls, but I could just as well create an account

[2019-09-14 18:59] fanckush commented on #46
I think this issue can be closed now. @Beep6581

[2019-09-14 19:33] fanckush commented on #65
Is this problem still present? if so then can someone show me a recent sample with the problem?

[2019-09-15 12:51] #46 closed

[2019-09-15 15:13] fanckush commented on #150
Hi @Beep6581, I'm about to make a series of big changes to HDRMerge, those include bug fixes (ex: #113, #170 and #173), as well as a major code refactor (ex: #188)
So publishing v1.0 now with the current state is indeed well timed right before I start breaking things with my PRs😇

[2019-09-15 16:53] Beep6581 commented on #150
@fanckush but your changes will fix problems, so I'm ambivalent about releasing a 1.0 now :)

Fact is that HDRMerge needs a new release, but considering that there is light at the end of the tunnel to get the issues you listed fixed, I think we should release v0.6 instead, which gives us time to test your changes and then release v1.0 once your fixes are finalized.

What do you think?

[2019-09-15 17:02] luzpaz commented on #81
Could you submit it to Fedora Rawhide, so it could show up on repology?
[![Packaging status](https://repology.org/badge/vertical-allrepos/hdrmerge.svg)](https://repology.org/project/hdrmerge/versions)

[2019-09-15 17:08] luzpaz commented on #109
Can we get an appimage for the tagged releases as well ?

[2019-09-15 17:16] Beep6581 commented on #109
Yes.

[2019-09-15 17:23] fanckush commented on #150
@Beep6581 that makes total sense. all i want to have is a version of HDRMerge with the current fixes as a safe point :) 0.6 sounds great!

[2019-09-15 17:32] Beep6581 opened #190 "Update website"

[2019-09-15 17:50] aferrero2707 commented on #109
@luzpaz @Beep6581 let me have a look... I will make a release AppImage manually for now, then set-up a mechanism similar to what we have for RawTherapee

[2019-09-15 18:09] Beep6581 commented on #109
@aferrero2707 I will use the same branching scheme here as in RT - releases get finalized in a `release-x.y` branch, then merged into `releases` and tagged.

If making a release manually complicates anything, then best if you wait for the 0.6 tag, which I will make soon but not just yet.

[2019-09-15 18:17] fanckush commented on #190
readme.md should be updated as well

[2019-09-15 20:46] aferrero2707 commented on #109
@Beep6581 perfect! I will wait for the 0.6 tag. AFAIK, there should be no difference between development and release builds for HDRMerge, apart for the package naming...

[2019-09-17 00:45] djotaku commented on #81
Sure, but there hasn't been a release in a long time. Can we get a new official release? Then I can create a new release.

[2019-09-17 00:46] djotaku commented on #81
Sorry about that - I wasn't properly getting updates from GH at the time and missed it. As of May 15 I have it working again for F29.

[2019-09-18 07:49] Floessie commented on #170
@fanckush I'm sorry, but I can't find the stacks in question anymore. As said, the pano wasn't deemed good enough, so I got rid of the sources.

[2019-09-18 08:26] fanckush commented on #170
Coukd you decribe the patterns in highlight? Did it look like noise, artifacts with strange colors, or maybe it felt like the image was “stiched” from various images near the highlights?

What was in your opinion unique about the 2nd stack? Maybe the dynamic range was extreme considering it was a night shot?

I know it may be hard to remember but any piece of information is useful. I will try to s

[2019-09-18 10:01] fanckush opened #191 "Compressed/Uncompressed DNGs"
Hello.

so.. i'm lost again :) (as usual). I've collected some scattered information about how HDRMerge writes DNGs:

Source 1:

_Originally posted by @LebedevRI in https://github.com/LibRaw/LibRaw/issues/39#issuecomment-242189469_

Source two:
https://discuss.pixls.us/t/hdrmerge-status-update/2009/14
https://discuss.pixls.us/t/hdrmerge-status-update/2009/15

Source 3: #86

Source 4: _from HDRMerg

[2019-09-18 10:22] LebedevRI commented on #191
I'm reasonably sure RawSpeed now supports all the various kinds of uncompressed DNG's.
As for hdrmerge DNG's (compressed floating-point),
the support was contributed in https://github.com/darktable-org/rawspeed/pull/17

What **is** a normal DNG? (there is no such thing). If you consider the DNG's that are produced
by cameras then yes, i'd say 16-bit int (Uncompressed or Lossless-JPEG) is most prev

[2019-09-18 10:23] heckflosse commented on #191
@fanckush

In int encoding you have two values for the first step (0 and 1), two values for the second step (2 and 3), four values for the third step (4, 5, 6, 7), 8 values for the forth step and so on.

In float encoding you have the same number of values for each step, which also means, in 16-bit float-encoding you have less distinct values in the 2048;65535 range, but more distinct values in th

[2019-09-23 13:26] LigH-de commented on #165
As suggested by @heckflosse I started HDRMerge 0.5 as `hdrmerge.exe -vv` and opened a RAF file. Upon closing the application, I got an APPCRASH dialog.

[2019-09-23 13:32] heckflosse commented on #165
@LigH-de I also suggested to `post the output`. I meant what's written in console.

[2019-09-23 13:55] LigH-de commented on #165
The GUI version (hdrmerge.exe) wrote nothing on the console.

[2019-09-23 13:59] heckflosse commented on #165
Did you start it from console?

[2019-09-23 13:59] LigH-de commented on #165
Yes, I started the GUI version in a console.

[2019-09-23 14:00] heckflosse commented on #165
Ok, HDRMerge found only one frame. Nothing we can do about that, as we get the number of frames from libraw.

[2019-09-23 14:02] heckflosse commented on #165
Ah, ok, you're on windows. There console output from gui version might not work :(

[2019-09-23 14:03] LigH-de commented on #165
Well, you have plenty of test files in [these archives](http://www.mediafire.com/folder/7vf30kbsz87z1/EXR-DR).

I remember that PlaneShift (an OpenSource multi-platform game) has similar issues that consoles don't work the same way in Linux and Windows.

[2019-09-23 14:12] LigH-de commented on #165
Nothing ... except maybe helping to improve libraw.

[2019-09-23 14:22] heckflosse commented on #165
For the Windows console thing we could use the code from RT where it works fine...

[2019-09-24 06:18] LigH-de commented on #165
Is there any more recent test version you can point at? If not, I may have to try if I can build it in MSYS2/MinGW.

[2019-09-24 09:49] heckflosse commented on #165
@LigH-de
https://keybase.pub/gaaned92/HDRMergeNightlyBuilds/HDRMerge_master_continuous-64-g1408e42_release_64.zip

[2019-09-24 10:41] LigH-de commented on #165
Now this version seems to work as expected. I see green and blue layer areas covering the image about 50:50.

[2019-09-25 06:44] Floessie commented on #170
@fanckush I honestly think it's impossible to guess the parameters of the second stack and perform a simulation based on my opinion. :wink: Especially since I don't remember the exact circumstances. There might still be a chance that I find the shots on backup media. I'll definitely let you know within the next few days. Otherwise I'll keep looking for a reproduction which might be possible or not

[2019-10-05 09:56] LigH-de opened #192 "(cont. g1408e42 r64) Writing JPEG previews fails"
There is a warning at the end of the output of the CLI version when trying to convert a dual capture Fujifilm EXR-DR RAF:

[code]

The message `Unsupported image format` makes me wonder if you just omitted a JPEG encoder library.

Apart from that, I wonder if the current state might be a "nightly" release candidate. The last official release for Windows is still v0.5.

[2019-10-05 11:34] ff2000 commented on #192
Looks like a bug:
https://github.com/jcelaya/hdrmerge/blob/04127397a9fade98c29957e7812c410c7b0a1e12/src/DngFloatWriter.cpp#L336
https://doc.qt.io/qt-5/qimagewriter.html#supportedImageFormats
Should be "JPG" instead of "JPEG".
"JPEG" was OK with Qt4:
https://doc.qt.io/archives/qt-4.8/qimagewriter.html#supportedImageFormats

[2019-10-05 12:29] #192 closed

[2019-10-05 15:54] LigH-de commented on #192
Hope for a new binary soon.

[2019-10-07 11:58] LigH-de commented on #69
RawTherapee is not the only application dealing with **raw** _or_ **HDR** images (yes, there is a difference). [Luminance HDR](https://github.com/LuminanceHDR/LuminanceHDR/), a HDR to SDR tone mapper, deals with similar issues.

I know [this may sound like a challenge](https://github.com/LuminanceHDR/LuminanceHDR/issues/5#issuecomment-538971367) ... :flushed: – but the result can only be better co

[2019-10-08 10:43] fanckush commented on #146
just for information, this PR #168 adds this feature